In [925]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# **Contexto de la base de datos**
La medición de la satisfacción de los pasajeros permite a las aerolíneas identificar los factores que más influyen en la experiencia de vuelo, como la puntualidad, el trato del personal, la comodidad de los asientos, la calidad de los alimentos, el entretenimiento a bordo o la eficiencia en el manejo del equipaje. A partir de esta información, las compañías pueden diseñar estrategias más efectivas para mejorar la calidad del servicio, optimizar los procesos operativos y ofrecer una experiencia más coherente con las expectativas del mercado actual.

# **Descripción general del contenido.**

La base de datos analizada contiene información detallada sobre la experiencia y satisfacción de pasajeros que viajan en una aerolínea comercial. En ella se combinan datos demográficos, características del viaje, evaluaciones de distintos aspectos del servicio y variables relacionadas con el rendimiento operativo de los vuelos. En conjunto, esta información permite realizar un análisis integral del comportamiento del cliente y de los factores que determinan su nivel de satisfacción general.

#Cargamos el dataframe sucio

In [926]:
import pandas as pd
df_sucio = pd.read_csv('/content/drive/MyDrive/df_sucio.csv')
df_sucio

,Unnamed: 0,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,0.0,70172.0,Male,Loyal Customer,13.0,Personal Travel,NaN,460.0,3.0,4.0,...,5,4,3.0,4,4.0,5.0,5.0,25.0,18.0,neutral or dissatisfied
1,1.0,5047.0,Male,disloyal Customer,25.0,Business travel,Business,235.0,3.0,2.0,...,1,1,5.0,3,1.0,4.0,1.0,1.0,6.0,neutral or dissatisfied
2,2.0,110028.0,Female,NaN,26.0,Business travel,Business,1142.0,2.0,2.0,...,5,4,3.0,NaN,4.0,4.0,5.0,0.0,0.0,NaN
3,3.0,24026.0,Female,Loyal Customer,NaN,Business travel,Business,562.0,2.0,5.0,...,2,2,5.0,3,1.0,4.0,2.0,11.0,9.0,neutral or dissatisfied
4,4.0,119299.0,Male,Loyal Customer,61.0,Business travel,Business,214.0,3.0,3.0,...,3,3,4.0,4,3.0,3.0,3.0,0.0,bbb,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122176,42836.0,100151.0,Female,Loyal Customer,51.0,bbb,Business,725.0,3.0,NaN,...,3,3,3.0,3,4.0,3.0,2.0,59.0,52.0,neutral or dissatisfied
122177,88812.0,59120.0,Male,Loyal Customer,14.0,Personal Travel,Eco,1846.0,4.0,4.0,...,2,1,3.0,2,NaN,3.0,2.0,2.0,0.0,NaN
122178,56378.0,82656.0,Female,Loyal Customer,46.0,NaN,Business,2279.0,5.0,5.0,...,4,4,5.0,4,4.0,4.0,4.0,0.0,0.0,satisfied
122179,103464.0,88676.0,Male,Loyal Customer,26.0,Personal Travel,Eco,271.0,1.0,2.0,...,4,2,2.0,3,2.0,2.0,4.0,0.0,0.0,neutral or dissatisfied
122180,23773.0,60920.0,Male,disloyal Customer,39.0,Business travel,Business,888.0,1.0,1.0,...,5,5,3.0,4,5.0,4.0,5.0,0.0,4.0,neutral or dissatisfied

#Eliminamos la columna Unnamed: 0

In [927]:
#Eliminamos la columna Unnamed: 0 (ya que solo es un índice)
df_sucio=df_sucio.drop(columns=['Unnamed: 0'])
df_sucio

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172.0,Male,Loyal Customer,13.0,Personal Travel,NaN,460.0,3.0,4.0,3.0,...,5,4,3.0,4,4.0,5.0,5.0,25.0,18.0,neutral or dissatisfied
1,5047.0,Male,disloyal Customer,25.0,Business travel,Business,235.0,3.0,2.0,3.0,...,1,1,5.0,3,1.0,4.0,1.0,1.0,6.0,neutral or dissatisfied
2,110028.0,Female,NaN,26.0,Business travel,Business,1142.0,2.0,2.0,2.0,...,5,4,3.0,NaN,4.0,4.0,5.0,0.0,0.0,NaN
3,24026.0,Female,Loyal Customer,NaN,Business travel,Business,562.0,2.0,5.0,5.0,...,2,2,5.0,3,1.0,4.0,2.0,11.0,9.0,neutral or dissatisfied
4,119299.0,Male,Loyal Customer,61.0,Business travel,Business,214.0,3.0,3.0,3.0,...,3,3,4.0,4,3.0,3.0,3.0,0.0,bbb,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122176,100151.0,Female,Loyal Customer,51.0,bbb,Business,725.0,3.0,NaN,2.0,...,3,3,3.0,3,4.0,3.0,2.0,59.0,52.0,neutral or dissatisfied
122177,59120.0,Male,Loyal Customer,14.0,Personal Travel,Eco,1846.0,4.0,4.0,4.0,...,2,1,3.0,2,NaN,3.0,2.0,2.0,0.0,NaN
122178,82656.0,Female,Loyal Customer,46.0,NaN,Business,2279.0,5.0,5.0,4.0,...,4,4,5.0,4,4.0,4.0,4.0,0.0,0.0,satisfied
122179,88676.0,Male,Loyal Customer,26.0,Personal Travel,Eco,271.0,1.0,2.0,1.0,...,4,2,2.0,3,2.0,2.0,4.0,0.0,0.0,neutral or dissatisfied
122180,60920.0,Male,disloyal Customer,39.0,Business travel,Business,888.0,1.0,1.0,1.0,...,5,5,3.0,4,5.0,4.0,5.0,0.0,4.0,neutral or dissatisfied

# **Primer análisis**

En primera instancia se debe analizar con cuántos datos se cuentan, además de que tipo son para poder tomar decisones conforme a las condiciones que se cuentan

In [928]:
#Por este medio podemos ver cuantos datos se tienen por fila y columna
df_sucio.shape

(122181, 24)

In [929]:
#Para poder visualizar mejor el tipo de datos con el que se trabaja se necesita observar las columnas del dataframe
df_sucio.columns

Index(['id', 'Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction'],
      dtype='object')

In [1131]:
#Mediante esto podemos visualizar que tipo de dato contiene cada columna
df_sucio.info()

<class 'pandas.core.frame.DataFrame'>
Index: 98665 entries, 0 to 122165
Data columns (total 24 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   id                                    98665 non-null  object
 1   Genero                                98665 non-null  object
 2   Tipo de Cliente                       98665 non-null  object
 3   Edad                                  98665 non-null  int64
 4   Tipo de Viaje                         98665 non-null  object
 5   Clase                                 98665 non-null  object
 6   Distancia de Vuelo                    98665 non-null  int64
 7   Servicio de Wifi                      98665 non-null  int64
 8   Tiempo de Llegada/Salida Conveniente  98665 non-null  int64
 9   Facilidad de Reservacion en Linea     98665 non-null  int64
 10  Ubicacion de Puerta                   98665 non-null  int64
 11  Comida y Bebida                       98665 non-null  int64
 12  Abordaje en Linea                     98665 non-null  int64
 13  Comodidad de Asiento                  98665 non-null  int64
 14  Entretenimiento en Vuelo              98665 non-null  int64
 15  Servicio en Mesa                      98665 non-null  int64
 16  Espacio del Asiento                   98665 non-null  int64
 17  Servicio de Equipaje                  98665 non-null  int64
 18  Servicio de Checkin                   98665 non-null  int64
 19  Servicio de Vuelo                     98665 non-null  int64
 20  Limpieza                              98665 non-null  int64
 21  Retraso de Salida                     98665 non-null  int64
 22  Retraso de Llegada                    98665 non-null  int64
 23  Satisfaccion                          98665 non-null  object
dtypes: int64(18), object(6)
memory usage: 18.8+ MB

In [931]:
#Detectamos los valores nulos en cada columna
df_sucio.isnull().sum()

id                                   7242
Gender                               4887
Customer Type                        4887
Age                                  7217
Type of Travel                       4887
Class                                4887
Flight Distance                      4887
Inflight wifi service                4887
Departure/Arrival time convenient    4887
Ease of Online booking               4887
Gate location                        4887
Food and drink                       7233
Online boarding                      4887
Seat comfort                         4887
Inflight entertainment               4887
On-board service                     4887
Leg room service                     4887
Baggage handling                     4887
Checkin service                      4887
Inflight service                     4887
Cleanliness                          4887
Departure Delay in Minutes           4887
Arrival Delay in Minutes             5233
satisfaction                         4887
dtype: int64

# **Limpieza por columna**

## **1. Columna Id**

In [932]:
#Detectamos valores nulos
df_sucio['id'].isnull().sum()

np.int64(7242)

In [933]:
#Reemplazamos valores nulos
df_sucio['id'] = df_sucio['id'].fillna('Sin Id')
df_sucio

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172.0,Male,Loyal Customer,13.0,Personal Travel,NaN,460.0,3.0,4.0,3.0,...,5,4,3.0,4,4.0,5.0,5.0,25.0,18.0,neutral or dissatisfied
1,5047.0,Male,disloyal Customer,25.0,Business travel,Business,235.0,3.0,2.0,3.0,...,1,1,5.0,3,1.0,4.0,1.0,1.0,6.0,neutral or dissatisfied
2,110028.0,Female,NaN,26.0,Business travel,Business,1142.0,2.0,2.0,2.0,...,5,4,3.0,NaN,4.0,4.0,5.0,0.0,0.0,NaN
3,24026.0,Female,Loyal Customer,NaN,Business travel,Business,562.0,2.0,5.0,5.0,...,2,2,5.0,3,1.0,4.0,2.0,11.0,9.0,neutral or dissatisfied
4,119299.0,Male,Loyal Customer,61.0,Business travel,Business,214.0,3.0,3.0,3.0,...,3,3,4.0,4,3.0,3.0,3.0,0.0,bbb,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122176,100151.0,Female,Loyal Customer,51.0,bbb,Business,725.0,3.0,NaN,2.0,...,3,3,3.0,3,4.0,3.0,2.0,59.0,52.0,neutral or dissatisfied
122177,59120.0,Male,Loyal Customer,14.0,Personal Travel,Eco,1846.0,4.0,4.0,4.0,...,2,1,3.0,2,NaN,3.0,2.0,2.0,0.0,NaN
122178,82656.0,Female,Loyal Customer,46.0,NaN,Business,2279.0,5.0,5.0,4.0,...,4,4,5.0,4,4.0,4.0,4.0,0.0,0.0,satisfied
122179,88676.0,Male,Loyal Customer,26.0,Personal Travel,Eco,271.0,1.0,2.0,1.0,...,4,2,2.0,3,2.0,2.0,4.0,0.0,0.0,neutral or dissatisfied
122180,60920.0,Male,disloyal Customer,39.0,Business travel,Business,888.0,1.0,1.0,1.0,...,5,5,3.0,4,5.0,4.0,5.0,0.0,4.0,neutral or dissatisfied

In [934]:
#Observamos cuantos registros duplicados existen en la columna
df_sucio['id'].duplicated().sum()

np.int64(23516)

In [935]:
df_sucio['id'].value_counts()

id
Sin Id      7242
36078.0        5
2996.0         5
112550.0       4
72784.0        4
            ...
92320.0        1
15853.0        1
83437.0        1
104401.0       1
114393.0       1
Name: count, Length: 98665, dtype: int64

In [936]:
df_sucio[df_sucio['id'] == 36078]

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
73694,36078.0,Female,Loyal Customer,58.0,Personal Travel,Eco,399.0,4.0,3.0,4.0,...,4,4,4.0,3,4.0,4.0,4.0,0.0,0.0,neutral or dissatisfied
114885,36078.0,Female,Loyal Customer,58.0,Personal Travel,Eco,399.0,4.0,3.0,4.0,...,4,4,4.0,3,NaN,4.0,4.0,0.0,0.0,neutral or dissatisfied
116274,36078.0,Female,Loyal Customer,58.0,Personal Travel,Eco,NaN,4.0,3.0,4.0,...,4,4,4.0,3,4.0,4.0,4.0,0.0,0.0,neutral or dissatisfied
119012,36078.0,Female,Loyal Customer,58.0,NaN,Eco,399.0,4.0,3.0,4.0,...,4,4,4.0,3,4.0,4.0,4.0,0.0,0.0,neutral or dissatisfied
119758,36078.0,Female,Loyal Customer,58.0,Personal Travel,Eco,399.0,4.0,3.0,4.0,...,4,4,4.0,3,4.0,4.0,4.0,0.0,0.0,neutral or dissatisfied

Ya que identificamos que algunos registros son exactamente iguales podemos eliminarlos sin afectar el contenido

In [937]:
df_sucio['id'].duplicated().sum()

np.int64(23516)

In [938]:
#Eliminar duplicados
df_sucio = df_sucio.drop_duplicates(subset='id')
df_sucio

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172.0,Male,Loyal Customer,13.0,Personal Travel,NaN,460.0,3.0,4.0,3.0,...,5,4,3.0,4,4.0,5.0,5.0,25.0,18.0,neutral or dissatisfied
1,5047.0,Male,disloyal Customer,25.0,Business travel,Business,235.0,3.0,2.0,3.0,...,1,1,5.0,3,1.0,4.0,1.0,1.0,6.0,neutral or dissatisfied
2,110028.0,Female,NaN,26.0,Business travel,Business,1142.0,2.0,2.0,2.0,...,5,4,3.0,NaN,4.0,4.0,5.0,0.0,0.0,NaN
3,24026.0,Female,Loyal Customer,NaN,Business travel,Business,562.0,2.0,5.0,5.0,...,2,2,5.0,3,1.0,4.0,2.0,11.0,9.0,neutral or dissatisfied
4,119299.0,Male,Loyal Customer,61.0,Business travel,Business,214.0,3.0,3.0,3.0,...,3,3,4.0,4,3.0,3.0,3.0,0.0,bbb,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122096,15853.0,Female,Loyal Customer,NaN,Business travel,Business,2536.0,5.0,1.0,5.0,...,1,5,3.0,1,5.0,2.0,5.0,271.0,243.0,satisfied
122128,83437.0,Female,disloyal Customer,23.0,Business travel,Eco,632.0,3.0,0.0,3.0,...,2,3,3.0,5,5.0,NaN,2.0,0.0,1.0,neutral or dissatisfied
122129,104401.0,Male,Loyal Customer,60.0,Business travel,Business,3545.0,5.0,NaN,5.0,...,4,4,4.0,4,4.0,NaN,3.0,3.0,0.0,satisfied
122140,114393.0,Female,Loyal Customer,44.0,Business travel,Business,3534.0,2.0,2.0,2.0,...,5,5,5.0,5,5.0,5.0,5.0,0.0,0.0,satisfied
122165,55896.0,Female,disloyal Customer,48.0,Business travel,Business,733.0,4.0,4.0,4.0,...,3,5,5.0,4,5.0,4.0,3.0,NaN,7.0,NaN

In [939]:
#Verificamos que no haya más duplicados
df_sucio['id'].duplicated().sum()

np.int64(0)

In [940]:
df_sucio['id'].value_counts()

id
55896.0     1
70172.0     1
5047.0      1
110028.0    1
24026.0     1
           ..
83502.0     1
98628.0     1
51412.0     1
34991.0     1
65725.0     1
Name: count, Length: 98665, dtype: int64

## **2. Columna Gender**

In [941]:
#Identificar los valores nulos
df_sucio['Gender'].isnull().sum()

np.int64(3967)

In [942]:
#Cambiar los NaN por la palabra Sin Género
df_sucio['Gender'] = df_sucio['Gender'].fillna('Sin Género')

/tmp/ipython-input-3417425133.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Gender'] = df_sucio['Gender'].fillna('Sin Género')

In [943]:
#Verificamos que no haya valores nulos
df_sucio['Gender'].isnull().sum()

np.int64(0)

In [944]:
#Visualizamos cuantos datos tenemos en la columna
df_sucio['Gender'].value_counts()

Gender
Female        47023
Male          45746
Sin Género     3967
bbb            1929
Name: count, dtype: int64

Datos atípicos (Cadenas de texto)

In [945]:
#Observamos que datos contiene la columna
df_sucio['Gender'].unique()

array(['Male', 'Female', 'Sin Género', 'bbb'], dtype=object)

Debido a que se encontró un dato atípico que es 'bbb' se tiene que corregir

In [946]:
#Reemplazamos ese dato atípico por otro valor
df_sucio['Gender'] = df_sucio['Gender'].replace('bbb', 'Sin Género')
df_sucio

/tmp/ipython-input-1614268352.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Gender'] = df_sucio['Gender'].replace('bbb', 'Sin Género')

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172.0,Male,Loyal Customer,13.0,Personal Travel,NaN,460.0,3.0,4.0,3.0,...,5,4,3.0,4,4.0,5.0,5.0,25.0,18.0,neutral or dissatisfied
1,5047.0,Male,disloyal Customer,25.0,Business travel,Business,235.0,3.0,2.0,3.0,...,1,1,5.0,3,1.0,4.0,1.0,1.0,6.0,neutral or dissatisfied
2,110028.0,Female,NaN,26.0,Business travel,Business,1142.0,2.0,2.0,2.0,...,5,4,3.0,NaN,4.0,4.0,5.0,0.0,0.0,NaN
3,24026.0,Female,Loyal Customer,NaN,Business travel,Business,562.0,2.0,5.0,5.0,...,2,2,5.0,3,1.0,4.0,2.0,11.0,9.0,neutral or dissatisfied
4,119299.0,Male,Loyal Customer,61.0,Business travel,Business,214.0,3.0,3.0,3.0,...,3,3,4.0,4,3.0,3.0,3.0,0.0,bbb,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122096,15853.0,Female,Loyal Customer,NaN,Business travel,Business,2536.0,5.0,1.0,5.0,...,1,5,3.0,1,5.0,2.0,5.0,271.0,243.0,satisfied
122128,83437.0,Female,disloyal Customer,23.0,Business travel,Eco,632.0,3.0,0.0,3.0,...,2,3,3.0,5,5.0,NaN,2.0,0.0,1.0,neutral or dissatisfied
122129,104401.0,Male,Loyal Customer,60.0,Business travel,Business,3545.0,5.0,NaN,5.0,...,4,4,4.0,4,4.0,NaN,3.0,3.0,0.0,satisfied
122140,114393.0,Female,Loyal Customer,44.0,Business travel,Business,3534.0,2.0,2.0,2.0,...,5,5,5.0,5,5.0,5.0,5.0,0.0,0.0,satisfied
122165,55896.0,Female,disloyal Customer,48.0,Business travel,Business,733.0,4.0,4.0,4.0,...,3,5,5.0,4,5.0,4.0,3.0,NaN,7.0,NaN

In [947]:
#Comprobamos que no hayan más datos atípicos
df_sucio['Gender'].unique()

array(['Male', 'Female', 'Sin Género'], dtype=object)

In [948]:
df_sucio['Gender'].value_counts()

Gender
Female        47023
Male          45746
Sin Género     5896
Name: count, dtype: int64

## **3. Columna Customer Type**

In [949]:
df_sucio.columns

Index(['id', 'Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction'],
      dtype='object')

In [950]:
#Visualizamos cuantos datos tenemos de cada variable
df_sucio['Customer Type'].value_counts()

Customer Type
Loyal Customer       77456
disloyal Customer    17273
Name: count, dtype: int64

In [951]:
#Observamos los datos que se encuentran en la columna
df_sucio['Customer Type'].unique()

array(['Loyal Customer', 'disloyal Customer', nan], dtype=object)

In [952]:
#Identificamos cuantos valores nulos hay
df_sucio['Customer Type'].isnull().sum()

np.int64(3936)

In [953]:
#Reemplazamos los valores nulos para no afectar al contenido
df_sucio['Customer Type'] = df_sucio['Customer Type'].fillna('Sin Cliente Especifico')
df_sucio

/tmp/ipython-input-1162263454.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Customer Type'] = df_sucio['Customer Type'].fillna('Sin Cliente Especifico')

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172.0,Male,Loyal Customer,13.0,Personal Travel,NaN,460.0,3.0,4.0,3.0,...,5,4,3.0,4,4.0,5.0,5.0,25.0,18.0,neutral or dissatisfied
1,5047.0,Male,disloyal Customer,25.0,Business travel,Business,235.0,3.0,2.0,3.0,...,1,1,5.0,3,1.0,4.0,1.0,1.0,6.0,neutral or dissatisfied
2,110028.0,Female,Sin Cliente Especifico,26.0,Business travel,Business,1142.0,2.0,2.0,2.0,...,5,4,3.0,NaN,4.0,4.0,5.0,0.0,0.0,NaN
3,24026.0,Female,Loyal Customer,NaN,Business travel,Business,562.0,2.0,5.0,5.0,...,2,2,5.0,3,1.0,4.0,2.0,11.0,9.0,neutral or dissatisfied
4,119299.0,Male,Loyal Customer,61.0,Business travel,Business,214.0,3.0,3.0,3.0,...,3,3,4.0,4,3.0,3.0,3.0,0.0,bbb,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122096,15853.0,Female,Loyal Customer,NaN,Business travel,Business,2536.0,5.0,1.0,5.0,...,1,5,3.0,1,5.0,2.0,5.0,271.0,243.0,satisfied
122128,83437.0,Female,disloyal Customer,23.0,Business travel,Eco,632.0,3.0,0.0,3.0,...,2,3,3.0,5,5.0,NaN,2.0,0.0,1.0,neutral or dissatisfied
122129,104401.0,Male,Loyal Customer,60.0,Business travel,Business,3545.0,5.0,NaN,5.0,...,4,4,4.0,4,4.0,NaN,3.0,3.0,0.0,satisfied
122140,114393.0,Female,Loyal Customer,44.0,Business travel,Business,3534.0,2.0,2.0,2.0,...,5,5,5.0,5,5.0,5.0,5.0,0.0,0.0,satisfied
122165,55896.0,Female,disloyal Customer,48.0,Business travel,Business,733.0,4.0,4.0,4.0,...,3,5,5.0,4,5.0,4.0,3.0,NaN,7.0,NaN

In [954]:
df_sucio['Customer Type'].value_counts()

Customer Type
Loyal Customer            77456
disloyal Customer         17273
Sin Cliente Especifico     3936
Name: count, dtype: int64

## **4. Columna Age**

In [955]:
#Identificamos los valores nulos
df_sucio['Age'].isnull().sum()

np.int64(5844)

In [956]:
#Cantidad de datos
df_sucio['Age'].value_counts()

Age
39.0    2662
25.0    2458
40.0    2323
44.0    2203
41.0    2192
        ...
73.0      42
76.0      39
79.0      38
78.0      33
85.0      17
Name: count, Length: 75, dtype: int64

In [957]:
#Corregimos los valores NaN reemplzando por la media de los datos de la columna edad
df_sucio['Age'] = df_sucio['Age'].fillna(df_sucio['Age'].mean())
df_sucio

/tmp/ipython-input-3023096898.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Age'] = df_sucio['Age'].fillna(df_sucio['Age'].mean())

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172.0,Male,Loyal Customer,13.000000,Personal Travel,NaN,460.0,3.0,4.0,3.0,...,5,4,3.0,4,4.0,5.0,5.0,25.0,18.0,neutral or dissatisfied
1,5047.0,Male,disloyal Customer,25.000000,Business travel,Business,235.0,3.0,2.0,3.0,...,1,1,5.0,3,1.0,4.0,1.0,1.0,6.0,neutral or dissatisfied
2,110028.0,Female,Sin Cliente Especifico,26.000000,Business travel,Business,1142.0,2.0,2.0,2.0,...,5,4,3.0,NaN,4.0,4.0,5.0,0.0,0.0,NaN
3,24026.0,Female,Loyal Customer,39.414335,Business travel,Business,562.0,2.0,5.0,5.0,...,2,2,5.0,3,1.0,4.0,2.0,11.0,9.0,neutral or dissatisfied
4,119299.0,Male,Loyal Customer,61.000000,Business travel,Business,214.0,3.0,3.0,3.0,...,3,3,4.0,4,3.0,3.0,3.0,0.0,bbb,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122096,15853.0,Female,Loyal Customer,39.414335,Business travel,Business,2536.0,5.0,1.0,5.0,...,1,5,3.0,1,5.0,2.0,5.0,271.0,243.0,satisfied
122128,83437.0,Female,disloyal Customer,23.000000,Business travel,Eco,632.0,3.0,0.0,3.0,...,2,3,3.0,5,5.0,NaN,2.0,0.0,1.0,neutral or dissatisfied
122129,104401.0,Male,Loyal Customer,60.000000,Business travel,Business,3545.0,5.0,NaN,5.0,...,4,4,4.0,4,4.0,NaN,3.0,3.0,0.0,satisfied
122140,114393.0,Female,Loyal Customer,44.000000,Business travel,Business,3534.0,2.0,2.0,2.0,...,5,5,5.0,5,5.0,5.0,5.0,0.0,0.0,satisfied
122165,55896.0,Female,disloyal Customer,48.000000,Business travel,Business,733.0,4.0,4.0,4.0,...,3,5,5.0,4,5.0,4.0,3.0,NaN,7.0,NaN

In [958]:
#Convertimos los valores numéricos a tipo entero
df_sucio['Age']=df_sucio['Age'].astype(int)
df_sucio

/tmp/ipython-input-3523648331.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Age']=df_sucio['Age'].astype(int)

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172.0,Male,Loyal Customer,13,Personal Travel,NaN,460.0,3.0,4.0,3.0,...,5,4,3.0,4,4.0,5.0,5.0,25.0,18.0,neutral or dissatisfied
1,5047.0,Male,disloyal Customer,25,Business travel,Business,235.0,3.0,2.0,3.0,...,1,1,5.0,3,1.0,4.0,1.0,1.0,6.0,neutral or dissatisfied
2,110028.0,Female,Sin Cliente Especifico,26,Business travel,Business,1142.0,2.0,2.0,2.0,...,5,4,3.0,NaN,4.0,4.0,5.0,0.0,0.0,NaN
3,24026.0,Female,Loyal Customer,39,Business travel,Business,562.0,2.0,5.0,5.0,...,2,2,5.0,3,1.0,4.0,2.0,11.0,9.0,neutral or dissatisfied
4,119299.0,Male,Loyal Customer,61,Business travel,Business,214.0,3.0,3.0,3.0,...,3,3,4.0,4,3.0,3.0,3.0,0.0,bbb,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122096,15853.0,Female,Loyal Customer,39,Business travel,Business,2536.0,5.0,1.0,5.0,...,1,5,3.0,1,5.0,2.0,5.0,271.0,243.0,satisfied
122128,83437.0,Female,disloyal Customer,23,Business travel,Eco,632.0,3.0,0.0,3.0,...,2,3,3.0,5,5.0,NaN,2.0,0.0,1.0,neutral or dissatisfied
122129,104401.0,Male,Loyal Customer,60,Business travel,Business,3545.0,5.0,NaN,5.0,...,4,4,4.0,4,4.0,NaN,3.0,3.0,0.0,satisfied
122140,114393.0,Female,Loyal Customer,44,Business travel,Business,3534.0,2.0,2.0,2.0,...,5,5,5.0,5,5.0,5.0,5.0,0.0,0.0,satisfied
122165,55896.0,Female,disloyal Customer,48,Business travel,Business,733.0,4.0,4.0,4.0,...,3,5,5.0,4,5.0,4.0,3.0,NaN,7.0,NaN

Verificamos que este adecuadamente

In [959]:
df_sucio['Age'].value_counts()

Age
39    8506
25    2458
40    2323
44    2203
41    2192
      ...
73      42
76      39
79      38
78      33
85      17
Name: count, Length: 75, dtype: int64

In [960]:
df_sucio['Age'].unique()

array([13, 25, 26, 39, 61, 47, 52, 41, 20, 24, 12, 53, 33, 45, 38,  9, 17,
       43, 58, 23, 49, 36, 22, 31, 15, 35, 67, 37, 40, 34, 50, 29, 54, 21,
       28, 27, 69, 60, 57, 48, 59, 46, 30, 66, 64, 44, 51, 32, 19, 42, 16,
       11, 62,  8, 56, 68, 18, 55, 65, 72, 63, 10,  7, 70, 14, 80, 74, 71,
       85, 76, 77, 75, 73, 79, 78])

In [961]:
df_sucio['Age'].isnull().sum()

np.int64(0)

## **5. Columna Type of Travel**

In [962]:
#Identificamos la cantidad de valores nulos
df_sucio['Type of Travel'].isnull().sum()

np.int64(3994)

In [963]:
#observamos que datos tenemos en la columna
df_sucio['Type of Travel'].unique()

array(['Personal Travel', 'Business travel', 'bbb', nan], dtype=object)

In [964]:
#Cantidad de datos en la columna
df_sucio['Type of Travel'].value_counts()

Type of Travel
Business travel    63904
Personal Travel    28883
bbb                 1884
Name: count, dtype: int64

In [965]:
#Reemplazamos los valores nulos para no afectar el contenido
df_sucio['Type of Travel'] = df_sucio['Type of Travel'].fillna('Sin Viaje')
df_sucio

/tmp/ipython-input-3315881470.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Type of Travel'] = df_sucio['Type of Travel'].fillna('Sin Viaje')

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172.0,Male,Loyal Customer,13,Personal Travel,NaN,460.0,3.0,4.0,3.0,...,5,4,3.0,4,4.0,5.0,5.0,25.0,18.0,neutral or dissatisfied
1,5047.0,Male,disloyal Customer,25,Business travel,Business,235.0,3.0,2.0,3.0,...,1,1,5.0,3,1.0,4.0,1.0,1.0,6.0,neutral or dissatisfied
2,110028.0,Female,Sin Cliente Especifico,26,Business travel,Business,1142.0,2.0,2.0,2.0,...,5,4,3.0,NaN,4.0,4.0,5.0,0.0,0.0,NaN
3,24026.0,Female,Loyal Customer,39,Business travel,Business,562.0,2.0,5.0,5.0,...,2,2,5.0,3,1.0,4.0,2.0,11.0,9.0,neutral or dissatisfied
4,119299.0,Male,Loyal Customer,61,Business travel,Business,214.0,3.0,3.0,3.0,...,3,3,4.0,4,3.0,3.0,3.0,0.0,bbb,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122096,15853.0,Female,Loyal Customer,39,Business travel,Business,2536.0,5.0,1.0,5.0,...,1,5,3.0,1,5.0,2.0,5.0,271.0,243.0,satisfied
122128,83437.0,Female,disloyal Customer,23,Business travel,Eco,632.0,3.0,0.0,3.0,...,2,3,3.0,5,5.0,NaN,2.0,0.0,1.0,neutral or dissatisfied
122129,104401.0,Male,Loyal Customer,60,Business travel,Business,3545.0,5.0,NaN,5.0,...,4,4,4.0,4,4.0,NaN,3.0,3.0,0.0,satisfied
122140,114393.0,Female,Loyal Customer,44,Business travel,Business,3534.0,2.0,2.0,2.0,...,5,5,5.0,5,5.0,5.0,5.0,0.0,0.0,satisfied
122165,55896.0,Female,disloyal Customer,48,Business travel,Business,733.0,4.0,4.0,4.0,...,3,5,5.0,4,5.0,4.0,3.0,NaN,7.0,NaN

In [966]:
#Correción de valores atípicos
df_sucio['Type of Travel'] = df_sucio['Type of Travel'].replace('bbb', 'Sin Viaje')
df_sucio

/tmp/ipython-input-2337865713.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Type of Travel'] = df_sucio['Type of Travel'].replace('bbb', 'Sin Viaje')

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172.0,Male,Loyal Customer,13,Personal Travel,NaN,460.0,3.0,4.0,3.0,...,5,4,3.0,4,4.0,5.0,5.0,25.0,18.0,neutral or dissatisfied
1,5047.0,Male,disloyal Customer,25,Business travel,Business,235.0,3.0,2.0,3.0,...,1,1,5.0,3,1.0,4.0,1.0,1.0,6.0,neutral or dissatisfied
2,110028.0,Female,Sin Cliente Especifico,26,Business travel,Business,1142.0,2.0,2.0,2.0,...,5,4,3.0,NaN,4.0,4.0,5.0,0.0,0.0,NaN
3,24026.0,Female,Loyal Customer,39,Business travel,Business,562.0,2.0,5.0,5.0,...,2,2,5.0,3,1.0,4.0,2.0,11.0,9.0,neutral or dissatisfied
4,119299.0,Male,Loyal Customer,61,Business travel,Business,214.0,3.0,3.0,3.0,...,3,3,4.0,4,3.0,3.0,3.0,0.0,bbb,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122096,15853.0,Female,Loyal Customer,39,Business travel,Business,2536.0,5.0,1.0,5.0,...,1,5,3.0,1,5.0,2.0,5.0,271.0,243.0,satisfied
122128,83437.0,Female,disloyal Customer,23,Business travel,Eco,632.0,3.0,0.0,3.0,...,2,3,3.0,5,5.0,NaN,2.0,0.0,1.0,neutral or dissatisfied
122129,104401.0,Male,Loyal Customer,60,Business travel,Business,3545.0,5.0,NaN,5.0,...,4,4,4.0,4,4.0,NaN,3.0,3.0,0.0,satisfied
122140,114393.0,Female,Loyal Customer,44,Business travel,Business,3534.0,2.0,2.0,2.0,...,5,5,5.0,5,5.0,5.0,5.0,0.0,0.0,satisfied
122165,55896.0,Female,disloyal Customer,48,Business travel,Business,733.0,4.0,4.0,4.0,...,3,5,5.0,4,5.0,4.0,3.0,NaN,7.0,NaN

Verificar si todo está en orden

In [967]:
df_sucio['Type of Travel'].value_counts()

Type of Travel
Business travel    63904
Personal Travel    28883
Sin Viaje           5878
Name: count, dtype: int64

## **6. Columna Class**

In [968]:
#Datos en la columna
df_sucio['Class'].unique()

array([nan, 'Business', 'Eco', 'Eco Plus', 'bbb'], dtype=object)

In [969]:
#Cantidad de datos en la columna
df_sucio['Class'].value_counts()

Class
Business    44331
Eco         41759
Eco Plus     6713
bbb          1914
Name: count, dtype: int64

In [970]:
#Detectamos los valores nulos
df_sucio['Class'].isnull().sum()

np.int64(3948)

In [971]:
#Reemplazamos los valores nulos para no afectar el contenido
df_sucio['Class'] = df_sucio['Class'].fillna('Sin Clase')
df_sucio.head(20)

/tmp/ipython-input-2722312778.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Class'] = df_sucio['Class'].fillna('Sin Clase')

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172.0,Male,Loyal Customer,13,Personal Travel,Sin Clase,460.0,3.0,4.0,3.0,...,5,4,3.0,4,4.0,5.0,5.0,25.0,18.0,neutral or dissatisfied
1,5047.0,Male,disloyal Customer,25,Business travel,Business,235.0,3.0,2.0,3.0,...,1,1,5.0,3,1.0,4.0,1.0,1.0,6.0,neutral or dissatisfied
2,110028.0,Female,Sin Cliente Especifico,26,Business travel,Business,1142.0,2.0,2.0,2.0,...,5,4,3.0,NaN,4.0,4.0,5.0,0.0,0.0,NaN
3,24026.0,Female,Loyal Customer,39,Business travel,Business,562.0,2.0,5.0,5.0,...,2,2,5.0,3,1.0,4.0,2.0,11.0,9.0,neutral or dissatisfied
4,119299.0,Male,Loyal Customer,61,Business travel,Business,214.0,3.0,3.0,3.0,...,3,3,4.0,4,3.0,3.0,3.0,0.0,bbb,satisfied
5,111157.0,Female,Loyal Customer,39,Personal Travel,Eco,1180.0,3.0,4.0,2.0,...,1,3,4.0,4,NaN,4.0,1.0,0.0,0.0,neutral or dissatisfied
6,82113.0,Male,Loyal Customer,47,Personal Travel,Eco,1276.0,2.0,4.0,2.0,...,2,3,3.0,4,3.0,5.0,2.0,9.0,23.0,neutral or dissatisfied
7,96462.0,Female,Loyal Customer,52,Business travel,Business,2035.0,4.0,3.0,4.0,...,5,5,5.0,5,4.0,5.0,4.0,4.0,0.0,satisfied
8,79485.0,Female,Loyal Customer,41,Business travel,Sin Clase,853.0,1.0,2.0,2.0,...,1,1,2.0,1,4.0,1.0,2.0,0.0,0.0,neutral or dissatisfied
9,65725.0,Male,disloyal Customer,20,Business travel,Eco,1061.0,3.0,3.0,3.0,...,2,2,3.0,4,4.0,3.0,2.0,0.0,0.0,neutral or dissatisfied
10,34991.0,Female,disloyal Customer,24,Business travel,Eco,1182.0,4.0,5.0,5.0,...,2,3,3.0,5,3.0,5.0,2.0,0.0,0.0,neutral or dissatisfied
11,51412.0,Female,Loyal Customer,12,Personal Travel,Eco Plus,308.0,2.0,4.0,2.0,...,1,1,2.0,5,5.0,5.0,1.0,0.0,0.0,neutral or dissatisfied
12,98628.0,Male,Loyal Customer,53,Business travel,Eco,834.0,1.0,4.0,4.0,...,NaN,NaN,1.0,NaN,4.0,4.0,1.0,28.0,8.0,NaN
13,83502.0,Male,Loyal Customer,33,Personal Travel,Eco,946.0,NaN,2.0,4.0,...,4,4,5.0,2,NaN,2.0,4.0,0.0,0.0,satisfied
14,95789.0,Female,Loyal Customer,26,Personal Travel,Eco,NaN,3.0,2.0,3.0,...,2,4,3.0,2,2.0,1.0,2.0,43.0,35.0,neutral or dissatisfied
15,100580.0,Male,disloyal Customer,13,Business travel,Eco,486.0,2.0,1.0,2.0,...,4,2,1.0,4,1.0,3.0,4.0,1.0,0.0,neutral or dissatisfied
16,71142.0,Female,Loyal Customer,26,Business travel,Business,2123.0,3.0,3.0,3.0,...,4,5,3.0,4,5.0,NaN,4.0,49.0,51.0,satisfied
17,127461.0,Male,Loyal Customer,41,Business travel,Business,2075.0,4.0,4.0,2.0,...,5,5,5.0,5,3.0,5.0,5.0,0.0,10.0,satisfied
18,Sin Id,Female,Loyal Customer,45,Business travel,Business,2486.0,4.0,4.0,4.0,...,5,5,5.0,NaN,3.0,5.0,4.0,7.0,5.0,satisfied
19,66246.0,Male,Sin Cliente Especifico,38,Personal Travel,Eco,460.0,2.0,3.0,3.0,...,5,1,2.0,4,3.0,2.0,5.0,17.0,18.0,neutral or dissatisfied

Correción de datos atípicos

In [972]:
#Notamos que hay un texto que no concuerda con la información de la columna
df_sucio['Class'].unique()

array(['Sin Clase', 'Business', 'Eco', 'Eco Plus', 'bbb'], dtype=object)

In [973]:
#Corrección de datos atípicos
#Se reemplaza por un dato que no afecte al contenido
df_sucio['Class'] = df_sucio['Class'].replace('bbb', 'Sin Clase')
df_sucio

/tmp/ipython-input-515637440.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Class'] = df_sucio['Class'].replace('bbb', 'Sin Clase')

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172.0,Male,Loyal Customer,13,Personal Travel,Sin Clase,460.0,3.0,4.0,3.0,...,5,4,3.0,4,4.0,5.0,5.0,25.0,18.0,neutral or dissatisfied
1,5047.0,Male,disloyal Customer,25,Business travel,Business,235.0,3.0,2.0,3.0,...,1,1,5.0,3,1.0,4.0,1.0,1.0,6.0,neutral or dissatisfied
2,110028.0,Female,Sin Cliente Especifico,26,Business travel,Business,1142.0,2.0,2.0,2.0,...,5,4,3.0,NaN,4.0,4.0,5.0,0.0,0.0,NaN
3,24026.0,Female,Loyal Customer,39,Business travel,Business,562.0,2.0,5.0,5.0,...,2,2,5.0,3,1.0,4.0,2.0,11.0,9.0,neutral or dissatisfied
4,119299.0,Male,Loyal Customer,61,Business travel,Business,214.0,3.0,3.0,3.0,...,3,3,4.0,4,3.0,3.0,3.0,0.0,bbb,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122096,15853.0,Female,Loyal Customer,39,Business travel,Business,2536.0,5.0,1.0,5.0,...,1,5,3.0,1,5.0,2.0,5.0,271.0,243.0,satisfied
122128,83437.0,Female,disloyal Customer,23,Business travel,Eco,632.0,3.0,0.0,3.0,...,2,3,3.0,5,5.0,NaN,2.0,0.0,1.0,neutral or dissatisfied
122129,104401.0,Male,Loyal Customer,60,Business travel,Business,3545.0,5.0,NaN,5.0,...,4,4,4.0,4,4.0,NaN,3.0,3.0,0.0,satisfied
122140,114393.0,Female,Loyal Customer,44,Business travel,Business,3534.0,2.0,2.0,2.0,...,5,5,5.0,5,5.0,5.0,5.0,0.0,0.0,satisfied
122165,55896.0,Female,disloyal Customer,48,Business travel,Business,733.0,4.0,4.0,4.0,...,3,5,5.0,4,5.0,4.0,3.0,NaN,7.0,NaN

Verificamos que esté correctamente

In [974]:
df_sucio['Class'].unique()

array(['Sin Clase', 'Business', 'Eco', 'Eco Plus'], dtype=object)

In [975]:
df_sucio['Class'].value_counts()

Class
Business     44331
Eco          41759
Eco Plus      6713
Sin Clase     5862
Name: count, dtype: int64

In [976]:
df_sucio['Class'].isnull().sum()

np.int64(0)

## **7. Columna Flight Distance**

In [977]:
#Cantidad de datos en la columna
df_sucio['Flight Distance'].value_counts()

Flight Distance
337.0     597
594.0     356
404.0     354
2475.0    334
862.0     332
         ...
1122.0      1
155.0       1
2547.0      1
1393.0      1
1317.0      1
Name: count, Length: 3788, dtype: int64

In [978]:
#Detección de valores nulos
df_sucio['Flight Distance'].isnull().sum()

np.int64(3965)

In [979]:
df_sucio['Flight Distance'].median()

843.0

In [980]:
#Reemplazamos los valores nulos por la mediana
df_sucio['Flight Distance'] = df_sucio['Flight Distance'].fillna(df_sucio['Flight Distance'].median())
df_sucio

/tmp/ipython-input-3688804409.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Flight Distance'] = df_sucio['Flight Distance'].fillna(df_sucio['Flight Distance'].median())

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172.0,Male,Loyal Customer,13,Personal Travel,Sin Clase,460.0,3.0,4.0,3.0,...,5,4,3.0,4,4.0,5.0,5.0,25.0,18.0,neutral or dissatisfied
1,5047.0,Male,disloyal Customer,25,Business travel,Business,235.0,3.0,2.0,3.0,...,1,1,5.0,3,1.0,4.0,1.0,1.0,6.0,neutral or dissatisfied
2,110028.0,Female,Sin Cliente Especifico,26,Business travel,Business,1142.0,2.0,2.0,2.0,...,5,4,3.0,NaN,4.0,4.0,5.0,0.0,0.0,NaN
3,24026.0,Female,Loyal Customer,39,Business travel,Business,562.0,2.0,5.0,5.0,...,2,2,5.0,3,1.0,4.0,2.0,11.0,9.0,neutral or dissatisfied
4,119299.0,Male,Loyal Customer,61,Business travel,Business,214.0,3.0,3.0,3.0,...,3,3,4.0,4,3.0,3.0,3.0,0.0,bbb,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122096,15853.0,Female,Loyal Customer,39,Business travel,Business,2536.0,5.0,1.0,5.0,...,1,5,3.0,1,5.0,2.0,5.0,271.0,243.0,satisfied
122128,83437.0,Female,disloyal Customer,23,Business travel,Eco,632.0,3.0,0.0,3.0,...,2,3,3.0,5,5.0,NaN,2.0,0.0,1.0,neutral or dissatisfied
122129,104401.0,Male,Loyal Customer,60,Business travel,Business,3545.0,5.0,NaN,5.0,...,4,4,4.0,4,4.0,NaN,3.0,3.0,0.0,satisfied
122140,114393.0,Female,Loyal Customer,44,Business travel,Business,3534.0,2.0,2.0,2.0,...,5,5,5.0,5,5.0,5.0,5.0,0.0,0.0,satisfied
122165,55896.0,Female,disloyal Customer,48,Business travel,Business,733.0,4.0,4.0,4.0,...,3,5,5.0,4,5.0,4.0,3.0,NaN,7.0,NaN

In [981]:
#Conversion de tipo de dato de decimal a entero
df_sucio['Flight Distance']=df_sucio['Flight Distance'].astype(int)
df_sucio

/tmp/ipython-input-3204404710.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Flight Distance']=df_sucio['Flight Distance'].astype(int)

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172.0,Male,Loyal Customer,13,Personal Travel,Sin Clase,460,3.0,4.0,3.0,...,5,4,3.0,4,4.0,5.0,5.0,25.0,18.0,neutral or dissatisfied
1,5047.0,Male,disloyal Customer,25,Business travel,Business,235,3.0,2.0,3.0,...,1,1,5.0,3,1.0,4.0,1.0,1.0,6.0,neutral or dissatisfied
2,110028.0,Female,Sin Cliente Especifico,26,Business travel,Business,1142,2.0,2.0,2.0,...,5,4,3.0,NaN,4.0,4.0,5.0,0.0,0.0,NaN
3,24026.0,Female,Loyal Customer,39,Business travel,Business,562,2.0,5.0,5.0,...,2,2,5.0,3,1.0,4.0,2.0,11.0,9.0,neutral or dissatisfied
4,119299.0,Male,Loyal Customer,61,Business travel,Business,214,3.0,3.0,3.0,...,3,3,4.0,4,3.0,3.0,3.0,0.0,bbb,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122096,15853.0,Female,Loyal Customer,39,Business travel,Business,2536,5.0,1.0,5.0,...,1,5,3.0,1,5.0,2.0,5.0,271.0,243.0,satisfied
122128,83437.0,Female,disloyal Customer,23,Business travel,Eco,632,3.0,0.0,3.0,...,2,3,3.0,5,5.0,NaN,2.0,0.0,1.0,neutral or dissatisfied
122129,104401.0,Male,Loyal Customer,60,Business travel,Business,3545,5.0,NaN,5.0,...,4,4,4.0,4,4.0,NaN,3.0,3.0,0.0,satisfied
122140,114393.0,Female,Loyal Customer,44,Business travel,Business,3534,2.0,2.0,2.0,...,5,5,5.0,5,5.0,5.0,5.0,0.0,0.0,satisfied
122165,55896.0,Female,disloyal Customer,48,Business travel,Business,733,4.0,4.0,4.0,...,3,5,5.0,4,5.0,4.0,3.0,NaN,7.0,NaN

Validación de que todo está en orden

In [982]:
df_sucio['Flight Distance'].value_counts()

Flight Distance
843     3998
337      597
594      356
404      354
2475     334
        ...
1479       1
400        1
1284       1
1267       1
1317       1
Name: count, Length: 3788, dtype: int64

In [983]:
df_sucio['Flight Distance'].unique()

array([ 460,  235, 1142, ..., 1284, 1267, 1317])

In [984]:
df_sucio['Flight Distance'].isnull().sum()

np.int64(0)

## **8. Columna Inflight wifi service**

In [985]:
#Detección de valores nulos
df_sucio['Inflight wifi service'].isnull().sum()

np.int64(3946)

In [986]:
df_sucio['Inflight wifi service'].value_counts()

Inflight wifi service
2.0    23590
3.0    23534
4.0    18005
1.0    16318
5.0    10443
0.0     2829
Name: count, dtype: int64

In [987]:
#Reemplazamos los valores nulos por la mediana
df_sucio['Inflight wifi service'] = df_sucio['Inflight wifi service'].fillna(df_sucio['Inflight wifi service'].median())

/tmp/ipython-input-2624133859.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Inflight wifi service'] = df_sucio['Inflight wifi service'].fillna(df_sucio['Inflight wifi service'].median())

In [988]:
#Conversión de valores de decimal a entero
df_sucio['Inflight wifi service']=df_sucio['Inflight wifi service'].astype(int)
df_sucio

/tmp/ipython-input-598974063.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Inflight wifi service']=df_sucio['Inflight wifi service'].astype(int)

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172.0,Male,Loyal Customer,13,Personal Travel,Sin Clase,460,3,4.0,3.0,...,5,4,3.0,4,4.0,5.0,5.0,25.0,18.0,neutral or dissatisfied
1,5047.0,Male,disloyal Customer,25,Business travel,Business,235,3,2.0,3.0,...,1,1,5.0,3,1.0,4.0,1.0,1.0,6.0,neutral or dissatisfied
2,110028.0,Female,Sin Cliente Especifico,26,Business travel,Business,1142,2,2.0,2.0,...,5,4,3.0,NaN,4.0,4.0,5.0,0.0,0.0,NaN
3,24026.0,Female,Loyal Customer,39,Business travel,Business,562,2,5.0,5.0,...,2,2,5.0,3,1.0,4.0,2.0,11.0,9.0,neutral or dissatisfied
4,119299.0,Male,Loyal Customer,61,Business travel,Business,214,3,3.0,3.0,...,3,3,4.0,4,3.0,3.0,3.0,0.0,bbb,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122096,15853.0,Female,Loyal Customer,39,Business travel,Business,2536,5,1.0,5.0,...,1,5,3.0,1,5.0,2.0,5.0,271.0,243.0,satisfied
122128,83437.0,Female,disloyal Customer,23,Business travel,Eco,632,3,0.0,3.0,...,2,3,3.0,5,5.0,NaN,2.0,0.0,1.0,neutral or dissatisfied
122129,104401.0,Male,Loyal Customer,60,Business travel,Business,3545,5,NaN,5.0,...,4,4,4.0,4,4.0,NaN,3.0,3.0,0.0,satisfied
122140,114393.0,Female,Loyal Customer,44,Business travel,Business,3534,2,2.0,2.0,...,5,5,5.0,5,5.0,5.0,5.0,0.0,0.0,satisfied
122165,55896.0,Female,disloyal Customer,48,Business travel,Business,733,4,4.0,4.0,...,3,5,5.0,4,5.0,4.0,3.0,NaN,7.0,NaN

Verificación

In [989]:
df_sucio['Inflight wifi service'].value_counts()

Inflight wifi service
3    27480
2    23590
4    18005
1    16318
5    10443
0     2829
Name: count, dtype: int64

In [990]:
df_sucio['Inflight wifi service'].unique()

array([3, 2, 4, 1, 5, 0])

In [991]:
df_sucio['Inflight wifi service'].isnull().sum()

np.int64(0)

## **9. Columna Departure/Arrival time convenient**

In [992]:
df_sucio['Departure/Arrival time convenient'].value_counts()

Departure/Arrival time convenient
4.0    23308
5.0    20405
3.0    16357
2.0    15681
1.0    14169
0.0     4828
Name: count, dtype: int64

In [993]:
#Detección de valores nulos
df_sucio['Departure/Arrival time convenient'].isnull().sum()

np.int64(3917)

In [994]:
#Reemplazamos los valores nulos por la moda
df_sucio['Departure/Arrival time convenient'] = df_sucio['Departure/Arrival time convenient'].fillna(df_sucio['Departure/Arrival time convenient'].mode()[0])
df_sucio

/tmp/ipython-input-3251320078.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Departure/Arrival time convenient'] = df_sucio['Departure/Arrival time convenient'].fillna(df_sucio['Departure/Arrival time convenient'].mode()[0])

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172.0,Male,Loyal Customer,13,Personal Travel,Sin Clase,460,3,4.0,3.0,...,5,4,3.0,4,4.0,5.0,5.0,25.0,18.0,neutral or dissatisfied
1,5047.0,Male,disloyal Customer,25,Business travel,Business,235,3,2.0,3.0,...,1,1,5.0,3,1.0,4.0,1.0,1.0,6.0,neutral or dissatisfied
2,110028.0,Female,Sin Cliente Especifico,26,Business travel,Business,1142,2,2.0,2.0,...,5,4,3.0,NaN,4.0,4.0,5.0,0.0,0.0,NaN
3,24026.0,Female,Loyal Customer,39,Business travel,Business,562,2,5.0,5.0,...,2,2,5.0,3,1.0,4.0,2.0,11.0,9.0,neutral or dissatisfied
4,119299.0,Male,Loyal Customer,61,Business travel,Business,214,3,3.0,3.0,...,3,3,4.0,4,3.0,3.0,3.0,0.0,bbb,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122096,15853.0,Female,Loyal Customer,39,Business travel,Business,2536,5,1.0,5.0,...,1,5,3.0,1,5.0,2.0,5.0,271.0,243.0,satisfied
122128,83437.0,Female,disloyal Customer,23,Business travel,Eco,632,3,0.0,3.0,...,2,3,3.0,5,5.0,NaN,2.0,0.0,1.0,neutral or dissatisfied
122129,104401.0,Male,Loyal Customer,60,Business travel,Business,3545,5,4.0,5.0,...,4,4,4.0,4,4.0,NaN,3.0,3.0,0.0,satisfied
122140,114393.0,Female,Loyal Customer,44,Business travel,Business,3534,2,2.0,2.0,...,5,5,5.0,5,5.0,5.0,5.0,0.0,0.0,satisfied
122165,55896.0,Female,disloyal Customer,48,Business travel,Business,733,4,4.0,4.0,...,3,5,5.0,4,5.0,4.0,3.0,NaN,7.0,NaN

In [995]:
#Conversión de valores de decimal a entero
df_sucio['Departure/Arrival time convenient']=df_sucio['Departure/Arrival time convenient'].astype(int)
df_sucio

/tmp/ipython-input-1136585980.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Departure/Arrival time convenient']=df_sucio['Departure/Arrival time convenient'].astype(int)

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172.0,Male,Loyal Customer,13,Personal Travel,Sin Clase,460,3,4,3.0,...,5,4,3.0,4,4.0,5.0,5.0,25.0,18.0,neutral or dissatisfied
1,5047.0,Male,disloyal Customer,25,Business travel,Business,235,3,2,3.0,...,1,1,5.0,3,1.0,4.0,1.0,1.0,6.0,neutral or dissatisfied
2,110028.0,Female,Sin Cliente Especifico,26,Business travel,Business,1142,2,2,2.0,...,5,4,3.0,NaN,4.0,4.0,5.0,0.0,0.0,NaN
3,24026.0,Female,Loyal Customer,39,Business travel,Business,562,2,5,5.0,...,2,2,5.0,3,1.0,4.0,2.0,11.0,9.0,neutral or dissatisfied
4,119299.0,Male,Loyal Customer,61,Business travel,Business,214,3,3,3.0,...,3,3,4.0,4,3.0,3.0,3.0,0.0,bbb,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122096,15853.0,Female,Loyal Customer,39,Business travel,Business,2536,5,1,5.0,...,1,5,3.0,1,5.0,2.0,5.0,271.0,243.0,satisfied
122128,83437.0,Female,disloyal Customer,23,Business travel,Eco,632,3,0,3.0,...,2,3,3.0,5,5.0,NaN,2.0,0.0,1.0,neutral or dissatisfied
122129,104401.0,Male,Loyal Customer,60,Business travel,Business,3545,5,4,5.0,...,4,4,4.0,4,4.0,NaN,3.0,3.0,0.0,satisfied
122140,114393.0,Female,Loyal Customer,44,Business travel,Business,3534,2,2,2.0,...,5,5,5.0,5,5.0,5.0,5.0,0.0,0.0,satisfied
122165,55896.0,Female,disloyal Customer,48,Business travel,Business,733,4,4,4.0,...,3,5,5.0,4,5.0,4.0,3.0,NaN,7.0,NaN

Verificación

In [996]:
df_sucio['Departure/Arrival time convenient'].isnull().sum()

np.int64(0)

In [997]:
df_sucio['Departure/Arrival time convenient'].value_counts()

Departure/Arrival time convenient
4    27225
5    20405
3    16357
2    15681
1    14169
0     4828
Name: count, dtype: int64

# **10. Columna Ease of Online booking**

In [998]:
#Datos en la columna
df_sucio['Ease of Online booking'].unique()

array([ 3.,  2.,  5.,  4.,  1., nan,  0.])

In [999]:
#Deteccion de valores nulos
df_sucio['Ease of Online booking'].isnull().sum()

np.int64(3953)

In [1000]:
#Reemplazamos los valores nulos por la moda
df_sucio['Ease of Online booking'] = df_sucio['Ease of Online booking'].fillna(df_sucio['Ease of Online booking'].mode()[0])

/tmp/ipython-input-4102155264.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Ease of Online booking'] = df_sucio['Ease of Online booking'].fillna(df_sucio['Ease of Online booking'].mode()[0])

In [1001]:
#Conversión de valores de decimal a entero
df_sucio['Ease of Online booking']=df_sucio['Ease of Online booking'].astype(int)
df_sucio

/tmp/ipython-input-3030382738.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Ease of Online booking']=df_sucio['Ease of Online booking'].astype(int)

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172.0,Male,Loyal Customer,13,Personal Travel,Sin Clase,460,3,4,3,...,5,4,3.0,4,4.0,5.0,5.0,25.0,18.0,neutral or dissatisfied
1,5047.0,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5.0,3,1.0,4.0,1.0,1.0,6.0,neutral or dissatisfied
2,110028.0,Female,Sin Cliente Especifico,26,Business travel,Business,1142,2,2,2,...,5,4,3.0,NaN,4.0,4.0,5.0,0.0,0.0,NaN
3,24026.0,Female,Loyal Customer,39,Business travel,Business,562,2,5,5,...,2,2,5.0,3,1.0,4.0,2.0,11.0,9.0,neutral or dissatisfied
4,119299.0,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4.0,4,3.0,3.0,3.0,0.0,bbb,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122096,15853.0,Female,Loyal Customer,39,Business travel,Business,2536,5,1,5,...,1,5,3.0,1,5.0,2.0,5.0,271.0,243.0,satisfied
122128,83437.0,Female,disloyal Customer,23,Business travel,Eco,632,3,0,3,...,2,3,3.0,5,5.0,NaN,2.0,0.0,1.0,neutral or dissatisfied
122129,104401.0,Male,Loyal Customer,60,Business travel,Business,3545,5,4,5,...,4,4,4.0,4,4.0,NaN,3.0,3.0,0.0,satisfied
122140,114393.0,Female,Loyal Customer,44,Business travel,Business,3534,2,2,2,...,5,5,5.0,5,5.0,5.0,5.0,0.0,0.0,satisfied
122165,55896.0,Female,disloyal Customer,48,Business travel,Business,733,4,4,4,...,3,5,5.0,4,5.0,4.0,3.0,NaN,7.0,NaN

Verificación

In [1002]:
df_sucio['Ease of Online booking'].isnull().sum()

np.int64(0)

In [1003]:
#Cantidad de valores
df_sucio['Ease of Online booking'].value_counts()

Ease of Online booking
3    26196
2    21957
4    17839
1    15970
5    12622
0     4081
Name: count, dtype: int64

In [1004]:
df_sucio.columns

Index(['id', 'Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction'],
      dtype='object')

# **11. Columna Gate location**

In [1005]:
#Datos en la columna
df_sucio['Gate location'].unique()

array([ 1.,  3.,  2.,  5.,  4., nan,  0.])

In [1006]:
#Deteccion de valores nulos
df_sucio['Gate location'].isnull().sum()

np.int64(3950)

In [1007]:
#Cantidad de datos
df_sucio['Gate location'].value_counts()

Gate location
3.0    25973
4.0    22317
2.0    17717
1.0    16029
5.0    12678
0.0        1
Name: count, dtype: int64

In [1008]:
#Reemplazamos los valores nulos por la moda
df_sucio['Gate location'] = df_sucio['Gate location'].fillna(df_sucio['Gate location'].mode()[0])

/tmp/ipython-input-2349011482.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Gate location'] = df_sucio['Gate location'].fillna(df_sucio['Gate location'].mode()[0])

In [1009]:
#Conversión de valores de decimal a entero
df_sucio['Gate location']=df_sucio['Gate location'].astype(int)
df_sucio

/tmp/ipython-input-3558066157.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Gate location']=df_sucio['Gate location'].astype(int)

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172.0,Male,Loyal Customer,13,Personal Travel,Sin Clase,460,3,4,3,...,5,4,3.0,4,4.0,5.0,5.0,25.0,18.0,neutral or dissatisfied
1,5047.0,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5.0,3,1.0,4.0,1.0,1.0,6.0,neutral or dissatisfied
2,110028.0,Female,Sin Cliente Especifico,26,Business travel,Business,1142,2,2,2,...,5,4,3.0,NaN,4.0,4.0,5.0,0.0,0.0,NaN
3,24026.0,Female,Loyal Customer,39,Business travel,Business,562,2,5,5,...,2,2,5.0,3,1.0,4.0,2.0,11.0,9.0,neutral or dissatisfied
4,119299.0,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4.0,4,3.0,3.0,3.0,0.0,bbb,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122096,15853.0,Female,Loyal Customer,39,Business travel,Business,2536,5,1,5,...,1,5,3.0,1,5.0,2.0,5.0,271.0,243.0,satisfied
122128,83437.0,Female,disloyal Customer,23,Business travel,Eco,632,3,0,3,...,2,3,3.0,5,5.0,NaN,2.0,0.0,1.0,neutral or dissatisfied
122129,104401.0,Male,Loyal Customer,60,Business travel,Business,3545,5,4,5,...,4,4,4.0,4,4.0,NaN,3.0,3.0,0.0,satisfied
122140,114393.0,Female,Loyal Customer,44,Business travel,Business,3534,2,2,2,...,5,5,5.0,5,5.0,5.0,5.0,0.0,0.0,satisfied
122165,55896.0,Female,disloyal Customer,48,Business travel,Business,733,4,4,4,...,3,5,5.0,4,5.0,4.0,3.0,NaN,7.0,NaN

Verificación

In [1010]:
df_sucio['Gate location'].isnull().sum()

np.int64(0)

In [1011]:
#Cantidad de valores
df_sucio['Gate location'].value_counts()

Gate location
3    29923
4    22317
2    17717
1    16029
5    12678
0        1
Name: count, dtype: int64

# **12. Columna Food and drink**

In [1012]:
#Datos en la columna
df_sucio['Food and drink'].unique()

array([ 5.,  1.,  2.,  4.,  3., nan,  0.])

In [1013]:
#Deteccion de valores nulos
df_sucio['Food and drink'].isnull().sum()

np.int64(5863)

In [1014]:
#Cantidad de datos
df_sucio['Food and drink'].value_counts()

Food and drink
4.0    21855
5.0    19924
3.0    19855
2.0    19648
1.0    11423
0.0       97
Name: count, dtype: int64

In [1015]:
#Reemplazamos los valores nulos por la moda
df_sucio['Food and drink'] = df_sucio['Food and drink'].fillna(df_sucio['Food and drink'].mode()[0])

/tmp/ipython-input-1384322016.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Food and drink'] = df_sucio['Food and drink'].fillna(df_sucio['Food and drink'].mode()[0])

In [1016]:
#Conversión de valores de decimal a entero
df_sucio['Food and drink']=df_sucio['Food and drink'].astype(int)
df_sucio

/tmp/ipython-input-2827214700.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Food and drink']=df_sucio['Food and drink'].astype(int)

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172.0,Male,Loyal Customer,13,Personal Travel,Sin Clase,460,3,4,3,...,5,4,3.0,4,4.0,5.0,5.0,25.0,18.0,neutral or dissatisfied
1,5047.0,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5.0,3,1.0,4.0,1.0,1.0,6.0,neutral or dissatisfied
2,110028.0,Female,Sin Cliente Especifico,26,Business travel,Business,1142,2,2,2,...,5,4,3.0,NaN,4.0,4.0,5.0,0.0,0.0,NaN
3,24026.0,Female,Loyal Customer,39,Business travel,Business,562,2,5,5,...,2,2,5.0,3,1.0,4.0,2.0,11.0,9.0,neutral or dissatisfied
4,119299.0,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4.0,4,3.0,3.0,3.0,0.0,bbb,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122096,15853.0,Female,Loyal Customer,39,Business travel,Business,2536,5,1,5,...,1,5,3.0,1,5.0,2.0,5.0,271.0,243.0,satisfied
122128,83437.0,Female,disloyal Customer,23,Business travel,Eco,632,3,0,3,...,2,3,3.0,5,5.0,NaN,2.0,0.0,1.0,neutral or dissatisfied
122129,104401.0,Male,Loyal Customer,60,Business travel,Business,3545,5,4,5,...,4,4,4.0,4,4.0,NaN,3.0,3.0,0.0,satisfied
122140,114393.0,Female,Loyal Customer,44,Business travel,Business,3534,2,2,2,...,5,5,5.0,5,5.0,5.0,5.0,0.0,0.0,satisfied
122165,55896.0,Female,disloyal Customer,48,Business travel,Business,733,4,4,4,...,3,5,5.0,4,5.0,4.0,3.0,NaN,7.0,NaN

Verificación

In [1017]:
df_sucio['Food and drink'].isnull().sum()

np.int64(0)

In [1018]:
#Cantidad de valores
df_sucio['Food and drink'].value_counts()

Food and drink
4    27718
5    19924
3    19855
2    19648
1    11423
0       97
Name: count, dtype: int64

# **13. Columna Online boarding**

In [1019]:
#Datos en la columna
df_sucio['Online boarding'].unique()

array(['3', nan, '2', '5', '1', '4', 'bbb', '0'], dtype=object)

In [1020]:
#Cantidad de datos
df_sucio['Online boarding'].value_counts()

Online boarding
4      27531
3      19470
5      18478
2      15628
1       9543
0       2167
bbb     1901
Name: count, dtype: int64

In [1021]:
#Deteeción de valores nulos
df_sucio['Online boarding'].isnull().sum()

np.int64(3947)

In [1022]:
#Corrección de valores atípicos
df_sucio['Online boarding'] = df_sucio['Online boarding'].replace('bbb', df_sucio['Online boarding'].mode()[0])

/tmp/ipython-input-1423938861.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Online boarding'] = df_sucio['Online boarding'].replace('bbb', df_sucio['Online boarding'].mode()[0])

In [1023]:
#Correción de valores nulos
df_sucio['Online boarding'] = df_sucio['Online boarding'].fillna(df_sucio['Online boarding'].mode()[0])

/tmp/ipython-input-3580738588.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Online boarding'] = df_sucio['Online boarding'].fillna(df_sucio['Online boarding'].mode()[0])

Desde el principio notamos que el tipo de dato en la columna es un object, por lo tanto, debemos convertir esos datos a tipo entero

In [1024]:
#Conversión de datos a tipo int
df_sucio['Online boarding']=df_sucio['Online boarding'].astype(int)
df_sucio

/tmp/ipython-input-139230885.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Online boarding']=df_sucio['Online boarding'].astype(int)

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172.0,Male,Loyal Customer,13,Personal Travel,Sin Clase,460,3,4,3,...,5,4,3.0,4,4.0,5.0,5.0,25.0,18.0,neutral or dissatisfied
1,5047.0,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5.0,3,1.0,4.0,1.0,1.0,6.0,neutral or dissatisfied
2,110028.0,Female,Sin Cliente Especifico,26,Business travel,Business,1142,2,2,2,...,5,4,3.0,NaN,4.0,4.0,5.0,0.0,0.0,NaN
3,24026.0,Female,Loyal Customer,39,Business travel,Business,562,2,5,5,...,2,2,5.0,3,1.0,4.0,2.0,11.0,9.0,neutral or dissatisfied
4,119299.0,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4.0,4,3.0,3.0,3.0,0.0,bbb,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122096,15853.0,Female,Loyal Customer,39,Business travel,Business,2536,5,1,5,...,1,5,3.0,1,5.0,2.0,5.0,271.0,243.0,satisfied
122128,83437.0,Female,disloyal Customer,23,Business travel,Eco,632,3,0,3,...,2,3,3.0,5,5.0,NaN,2.0,0.0,1.0,neutral or dissatisfied
122129,104401.0,Male,Loyal Customer,60,Business travel,Business,3545,5,4,5,...,4,4,4.0,4,4.0,NaN,3.0,3.0,0.0,satisfied
122140,114393.0,Female,Loyal Customer,44,Business travel,Business,3534,2,2,2,...,5,5,5.0,5,5.0,5.0,5.0,0.0,0.0,satisfied
122165,55896.0,Female,disloyal Customer,48,Business travel,Business,733,4,4,4,...,3,5,5.0,4,5.0,4.0,3.0,NaN,7.0,NaN

Verficación

In [1025]:
df_sucio['Online boarding'].isnull().sum()

np.int64(0)

In [1026]:
df_sucio['Online boarding'].unique()

array([3, 4, 2, 5, 1, 0])

In [1027]:
df_sucio['Online boarding'].value_counts()

Online boarding
4    33379
3    19470
5    18478
2    15628
1     9543
0     2167
Name: count, dtype: int64

In [1028]:
df_sucio.columns

Index(['id', 'Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction'],
      dtype='object')

# **14. Columna Seat comfort**

In [1029]:
#Datos en la columna
df_sucio['Seat comfort'].unique()

array([ 5.,  1.,  2.,  3.,  4., nan,  0.])

In [1030]:
#Cantidad de datos
df_sucio['Seat comfort'].value_counts()

Seat comfort
4.0    28938
5.0    24106
3.0    17049
2.0    13562
1.0    11060
0.0        1
Name: count, dtype: int64

In [1031]:
#Deteeción de valores nulos
df_sucio['Seat comfort'].isnull().sum()

np.int64(3949)

In [1032]:
#Correción de valores nulos
df_sucio['Seat comfort'] = df_sucio['Seat comfort'].fillna(df_sucio['Seat comfort'].mode()[0])

/tmp/ipython-input-407342809.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Seat comfort'] = df_sucio['Seat comfort'].fillna(df_sucio['Seat comfort'].mode()[0])

In [1033]:
#Conversión de datos a tipo int
df_sucio['Seat comfort']=df_sucio['Seat comfort'].astype(int)

/tmp/ipython-input-543914434.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Seat comfort']=df_sucio['Seat comfort'].astype(int)

Verificación

In [1034]:
df_sucio['Seat comfort'].isnull().sum()

np.int64(0)

In [1035]:
df_sucio['Seat comfort'].unique()

array([5, 1, 2, 3, 4, 0])

In [1036]:
df_sucio['Seat comfort'].value_counts()

Seat comfort
4    32887
5    24106
3    17049
2    13562
1    11060
0        1
Name: count, dtype: int64

# **15. Columna Inflight entertainment**

In [1037]:
#Datos en la columna
df_sucio['Inflight entertainment'].unique()

array(['5', '1', '2', '3', nan, '4', 'bbb', '0'], dtype=object)

In [1038]:
#Cantidad de datos
df_sucio['Inflight entertainment'].value_counts()

Inflight entertainment
4      26237
5      22521
3      17084
2      15717
1      11175
bbb     1934
0         13
Name: count, dtype: int64

In [1039]:
#Deteeción de valores nulos
df_sucio['Inflight entertainment'].isnull().sum()

np.int64(3984)

In [1040]:
#Corrección de valores atípicos
df_sucio['Inflight entertainment'] = df_sucio['Inflight entertainment'].replace('bbb', df_sucio['Inflight entertainment'].mode()[0])

/tmp/ipython-input-1536314470.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Inflight entertainment'] = df_sucio['Inflight entertainment'].replace('bbb', df_sucio['Inflight entertainment'].mode()[0])

In [1041]:
#Correción de valores nulos
df_sucio['Inflight entertainment'] = df_sucio['Inflight entertainment'].fillna(df_sucio['Inflight entertainment'].mode()[0])

/tmp/ipython-input-1101092217.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Inflight entertainment'] = df_sucio['Inflight entertainment'].fillna(df_sucio['Inflight entertainment'].mode()[0])

Desde el principio notamos que el tipo de dato en la columna es un object, por lo tanto, debemos convertir esos datos a tipo entero

In [1042]:
#Conversión de datos a tipo int
df_sucio['Inflight entertainment']=df_sucio['Inflight entertainment'].astype(int)

/tmp/ipython-input-3541462326.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Inflight entertainment']=df_sucio['Inflight entertainment'].astype(int)

Verificación

In [1043]:
df_sucio['Inflight entertainment'].isnull().sum()

np.int64(0)

In [1044]:
df_sucio['Inflight entertainment'].unique()

array([5, 1, 2, 3, 4, 0])

In [1045]:
df_sucio['Inflight entertainment'].value_counts()

Inflight entertainment
4    32155
5    22521
3    17084
2    15717
1    11175
0       13
Name: count, dtype: int64

In [1046]:
df_sucio.columns

Index(['id', 'Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction'],
      dtype='object')

# **16. Columna On-board service**

In [1047]:
#Datos en la columna
df_sucio['On-board service'].unique()

array(['4', '1', '2', '3', '5', nan, 'bbb', '0'], dtype=object)

In [1048]:
#Datos en la columna
df_sucio['On-board service'].value_counts()

On-board service
4      27575
5      21149
3      20405
2      13055
1      10588
bbb     1891
0          3
Name: count, dtype: int64

In [1049]:
#Deteeción de valores nulos
df_sucio['On-board service'].isnull().sum()

np.int64(3999)

In [1050]:
#Corrección de valores atípicos
df_sucio['On-board service'] = df_sucio['On-board service'].replace('bbb', df_sucio['On-board service'].mode()[0])

/tmp/ipython-input-232615564.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['On-board service'] = df_sucio['On-board service'].replace('bbb', df_sucio['On-board service'].mode()[0])

In [1051]:
#Correción de valores nulos
df_sucio['On-board service'] = df_sucio['On-board service'].fillna(df_sucio['On-board service'].mode()[0])

/tmp/ipython-input-733204105.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['On-board service'] = df_sucio['On-board service'].fillna(df_sucio['On-board service'].mode()[0])

Desde el principio notamos que el tipo de dato en la columna es un object, por lo tanto, debemos convertir esos datos a tipo entero

In [1052]:
#Conversión de datos a tipo int
df_sucio['On-board service']=df_sucio['On-board service'].astype(int)
df_sucio

/tmp/ipython-input-168515410.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['On-board service']=df_sucio['On-board service'].astype(int)

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172.0,Male,Loyal Customer,13,Personal Travel,Sin Clase,460,3,4,3,...,5,4,3.0,4,4.0,5.0,5.0,25.0,18.0,neutral or dissatisfied
1,5047.0,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5.0,3,1.0,4.0,1.0,1.0,6.0,neutral or dissatisfied
2,110028.0,Female,Sin Cliente Especifico,26,Business travel,Business,1142,2,2,2,...,5,4,3.0,NaN,4.0,4.0,5.0,0.0,0.0,NaN
3,24026.0,Female,Loyal Customer,39,Business travel,Business,562,2,5,5,...,2,2,5.0,3,1.0,4.0,2.0,11.0,9.0,neutral or dissatisfied
4,119299.0,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4.0,4,3.0,3.0,3.0,0.0,bbb,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122096,15853.0,Female,Loyal Customer,39,Business travel,Business,2536,5,1,5,...,1,5,3.0,1,5.0,2.0,5.0,271.0,243.0,satisfied
122128,83437.0,Female,disloyal Customer,23,Business travel,Eco,632,3,0,3,...,2,3,3.0,5,5.0,NaN,2.0,0.0,1.0,neutral or dissatisfied
122129,104401.0,Male,Loyal Customer,60,Business travel,Business,3545,5,4,5,...,4,4,4.0,4,4.0,NaN,3.0,3.0,0.0,satisfied
122140,114393.0,Female,Loyal Customer,44,Business travel,Business,3534,2,2,2,...,5,5,5.0,5,5.0,5.0,5.0,0.0,0.0,satisfied
122165,55896.0,Female,disloyal Customer,48,Business travel,Business,733,4,4,4,...,3,5,5.0,4,5.0,4.0,3.0,NaN,7.0,NaN

Verficación

In [1053]:
df_sucio['On-board service'].isnull().sum()

np.int64(0)

In [1054]:
df_sucio['On-board service'].unique()

array([4, 1, 2, 3, 5, 0])

In [1055]:
df_sucio['On-board service'].value_counts()

On-board service
4    33465
5    21149
3    20405
2    13055
1    10588
0        3
Name: count, dtype: int64

In [1056]:
df_sucio.columns

Index(['id', 'Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction'],
      dtype='object')

# **17. Columna Leg room service**

In [1057]:
#Datos en la columna
df_sucio['Leg room service'].unique()

array([ 3.,  5.,  4.,  2.,  1., nan,  0.])

In [1058]:
#Datos en la columna
df_sucio['Leg room service'].value_counts()

Leg room service
4.0    26205
5.0    22501
3.0    18355
2.0    17783
1.0     9430
0.0      423
Name: count, dtype: int64

In [1059]:
#Deteeción de valores nulos
df_sucio['Leg room service'].isnull().sum()

np.int64(3968)

In [1060]:
#Correción de valores nulos cambiandolos por el promedio
df_sucio['Leg room service'] = df_sucio['Leg room service'].fillna(df_sucio['Leg room service'].mean())

/tmp/ipython-input-4173451409.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Leg room service'] = df_sucio['Leg room service'].fillna(df_sucio['Leg room service'].mean())

In [1061]:
#Conversión de datos a tipo int
df_sucio['Leg room service']=df_sucio['Leg room service'].astype(int)
df_sucio

/tmp/ipython-input-1305185804.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Leg room service']=df_sucio['Leg room service'].astype(int)

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172.0,Male,Loyal Customer,13,Personal Travel,Sin Clase,460,3,4,3,...,5,4,3,4,4.0,5.0,5.0,25.0,18.0,neutral or dissatisfied
1,5047.0,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1.0,4.0,1.0,1.0,6.0,neutral or dissatisfied
2,110028.0,Female,Sin Cliente Especifico,26,Business travel,Business,1142,2,2,2,...,5,4,3,NaN,4.0,4.0,5.0,0.0,0.0,NaN
3,24026.0,Female,Loyal Customer,39,Business travel,Business,562,2,5,5,...,2,2,5,3,1.0,4.0,2.0,11.0,9.0,neutral or dissatisfied
4,119299.0,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4,4,3.0,3.0,3.0,0.0,bbb,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122096,15853.0,Female,Loyal Customer,39,Business travel,Business,2536,5,1,5,...,1,5,3,1,5.0,2.0,5.0,271.0,243.0,satisfied
122128,83437.0,Female,disloyal Customer,23,Business travel,Eco,632,3,0,3,...,2,3,3,5,5.0,NaN,2.0,0.0,1.0,neutral or dissatisfied
122129,104401.0,Male,Loyal Customer,60,Business travel,Business,3545,5,4,5,...,4,4,4,4,4.0,NaN,3.0,3.0,0.0,satisfied
122140,114393.0,Female,Loyal Customer,44,Business travel,Business,3534,2,2,2,...,5,5,5,5,5.0,5.0,5.0,0.0,0.0,satisfied
122165,55896.0,Female,disloyal Customer,48,Business travel,Business,733,4,4,4,...,3,5,5,4,5.0,4.0,3.0,NaN,7.0,NaN

Verficación

In [1062]:
df_sucio['Leg room service'].isnull().sum()

np.int64(0)

In [1063]:
df_sucio['Leg room service'].unique()

array([3, 5, 4, 2, 1, 0])

In [1064]:
df_sucio['Leg room service'].value_counts()

Leg room service
4    26205
5    22501
3    22323
2    17783
1     9430
0      423
Name: count, dtype: int64

In [1065]:
df_sucio.columns

Index(['id', 'Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction'],
      dtype='object')

# **18. Columna Baggage handling**

In [1066]:
#Datos en la columna
df_sucio['Baggage handling'].unique()

array(['4', '3', nan, '5', '1', '2', 'bbb'], dtype=object)

In [1067]:
#Cantidad de datos en la columna
df_sucio['Baggage handling'].value_counts()

Baggage handling
4      33310
5      24275
3      18491
2      10228
1       6481
bbb     1918
Name: count, dtype: int64

In [1068]:
#Deteeción de valores nulos
df_sucio['Baggage handling'].isnull().sum()

np.int64(3962)

In [1069]:
#Corrección de valores atípicos
df_sucio['Baggage handling'] = df_sucio['Baggage handling'].replace('bbb', "5")

/tmp/ipython-input-2709869722.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Baggage handling'] = df_sucio['Baggage handling'].replace('bbb', "5")

In [1070]:
#Correción de valores nulos
df_sucio['Baggage handling'] = df_sucio['Baggage handling'].fillna(df_sucio['Baggage handling'].mode()[0])

/tmp/ipython-input-926848762.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Baggage handling'] = df_sucio['Baggage handling'].fillna(df_sucio['Baggage handling'].mode()[0])

Desde el principio notamos que el tipo de dato en la columna es un object, por lo tanto, debemos convertir esos datos a tipo entero

In [1071]:
#Conversión de datos a tipo int
df_sucio['Baggage handling']=df_sucio['Baggage handling'].astype(int)
df_sucio

/tmp/ipython-input-1805134344.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Baggage handling']=df_sucio['Baggage handling'].astype(int)

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172.0,Male,Loyal Customer,13,Personal Travel,Sin Clase,460,3,4,3,...,5,4,3,4,4.0,5.0,5.0,25.0,18.0,neutral or dissatisfied
1,5047.0,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1.0,4.0,1.0,1.0,6.0,neutral or dissatisfied
2,110028.0,Female,Sin Cliente Especifico,26,Business travel,Business,1142,2,2,2,...,5,4,3,4,4.0,4.0,5.0,0.0,0.0,NaN
3,24026.0,Female,Loyal Customer,39,Business travel,Business,562,2,5,5,...,2,2,5,3,1.0,4.0,2.0,11.0,9.0,neutral or dissatisfied
4,119299.0,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4,4,3.0,3.0,3.0,0.0,bbb,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122096,15853.0,Female,Loyal Customer,39,Business travel,Business,2536,5,1,5,...,1,5,3,1,5.0,2.0,5.0,271.0,243.0,satisfied
122128,83437.0,Female,disloyal Customer,23,Business travel,Eco,632,3,0,3,...,2,3,3,5,5.0,NaN,2.0,0.0,1.0,neutral or dissatisfied
122129,104401.0,Male,Loyal Customer,60,Business travel,Business,3545,5,4,5,...,4,4,4,4,4.0,NaN,3.0,3.0,0.0,satisfied
122140,114393.0,Female,Loyal Customer,44,Business travel,Business,3534,2,2,2,...,5,5,5,5,5.0,5.0,5.0,0.0,0.0,satisfied
122165,55896.0,Female,disloyal Customer,48,Business travel,Business,733,4,4,4,...,3,5,5,4,5.0,4.0,3.0,NaN,7.0,NaN

Verficación

In [1072]:
df_sucio['Baggage handling'].isnull().sum()

np.int64(0)

In [1073]:
df_sucio['Baggage handling'].unique()

array([4, 3, 5, 1, 2])

In [1074]:
df_sucio['Baggage handling'].value_counts()

Baggage handling
4    37272
5    26193
3    18491
2    10228
1     6481
Name: count, dtype: int64

In [1075]:
df_sucio.columns

Index(['id', 'Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction'],
      dtype='object')

# **19. Columna Checkin service**

In [1076]:
#Datos en la columna
df_sucio['Checkin service'].unique()

array([ 4.,  1.,  3., nan,  5.,  2.,  0.])

In [1077]:
#Datos en la columna
df_sucio['Checkin service'].value_counts()

Checkin service
4.0    26447
3.0    25990
5.0    18787
2.0    11775
1.0    11769
0.0        1
Name: count, dtype: int64

In [1078]:
#Deteeción de valores nulos
df_sucio['Checkin service'].isnull().sum()

np.int64(3896)

In [1079]:
#Correción de valores nulos cambiandolos por el promedio
df_sucio['Checkin service'] = df_sucio['Checkin service'].fillna(df_sucio['Checkin service'].mean())

/tmp/ipython-input-2766039024.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Checkin service'] = df_sucio['Checkin service'].fillna(df_sucio['Checkin service'].mean())

In [1080]:
#Conversión de datos a tipo int
df_sucio['Checkin service']=df_sucio['Checkin service'].astype(int)
df_sucio

/tmp/ipython-input-2660215386.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Checkin service']=df_sucio['Checkin service'].astype(int)

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172.0,Male,Loyal Customer,13,Personal Travel,Sin Clase,460,3,4,3,...,5,4,3,4,4,5.0,5.0,25.0,18.0,neutral or dissatisfied
1,5047.0,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1,4.0,1.0,1.0,6.0,neutral or dissatisfied
2,110028.0,Female,Sin Cliente Especifico,26,Business travel,Business,1142,2,2,2,...,5,4,3,4,4,4.0,5.0,0.0,0.0,NaN
3,24026.0,Female,Loyal Customer,39,Business travel,Business,562,2,5,5,...,2,2,5,3,1,4.0,2.0,11.0,9.0,neutral or dissatisfied
4,119299.0,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4,4,3,3.0,3.0,0.0,bbb,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122096,15853.0,Female,Loyal Customer,39,Business travel,Business,2536,5,1,5,...,1,5,3,1,5,2.0,5.0,271.0,243.0,satisfied
122128,83437.0,Female,disloyal Customer,23,Business travel,Eco,632,3,0,3,...,2,3,3,5,5,NaN,2.0,0.0,1.0,neutral or dissatisfied
122129,104401.0,Male,Loyal Customer,60,Business travel,Business,3545,5,4,5,...,4,4,4,4,4,NaN,3.0,3.0,0.0,satisfied
122140,114393.0,Female,Loyal Customer,44,Business travel,Business,3534,2,2,2,...,5,5,5,5,5,5.0,5.0,0.0,0.0,satisfied
122165,55896.0,Female,disloyal Customer,48,Business travel,Business,733,4,4,4,...,3,5,5,4,5,4.0,3.0,NaN,7.0,NaN

Verficación

In [1081]:
df_sucio['Checkin service'].isnull().sum()

np.int64(0)

In [1082]:
df_sucio['Checkin service'].unique()

array([4, 1, 3, 5, 2, 0])

In [1083]:
df_sucio['Checkin service'].value_counts()

Checkin service
3    29886
4    26447
5    18787
2    11775
1    11769
0        1
Name: count, dtype: int64

In [1084]:
df_sucio.columns

Index(['id', 'Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction'],
      dtype='object')

# **20. Columna Inflight service**

In [1085]:
#Datos en la columna
df_sucio['Inflight service'].unique()

array([ 5.,  4.,  3.,  1.,  2., nan,  0.])

In [1086]:
#Datos en la columna
df_sucio['Inflight service'].value_counts()

Inflight service
4.0    34627
5.0    24701
3.0    18484
2.0    10386
1.0     6470
0.0        3
Name: count, dtype: int64

In [1087]:
#Deteeción de valores nulos
df_sucio['Inflight service'].isnull().sum()

np.int64(3994)

In [1088]:
#Correción de valores nulos cambiandolos por el promedio
df_sucio['Inflight service'] = df_sucio['Inflight service'].fillna(df_sucio['Inflight service'].mean())

/tmp/ipython-input-2359609044.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Inflight service'] = df_sucio['Inflight service'].fillna(df_sucio['Inflight service'].mean())

In [1089]:
#Conversión de datos a tipo int
df_sucio['Inflight service']=df_sucio['Inflight service'].astype(int)
df_sucio

/tmp/ipython-input-1505792045.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Inflight service']=df_sucio['Inflight service'].astype(int)

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172.0,Male,Loyal Customer,13,Personal Travel,Sin Clase,460,3,4,3,...,5,4,3,4,4,5,5.0,25.0,18.0,neutral or dissatisfied
1,5047.0,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1,4,1.0,1.0,6.0,neutral or dissatisfied
2,110028.0,Female,Sin Cliente Especifico,26,Business travel,Business,1142,2,2,2,...,5,4,3,4,4,4,5.0,0.0,0.0,NaN
3,24026.0,Female,Loyal Customer,39,Business travel,Business,562,2,5,5,...,2,2,5,3,1,4,2.0,11.0,9.0,neutral or dissatisfied
4,119299.0,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4,4,3,3,3.0,0.0,bbb,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122096,15853.0,Female,Loyal Customer,39,Business travel,Business,2536,5,1,5,...,1,5,3,1,5,2,5.0,271.0,243.0,satisfied
122128,83437.0,Female,disloyal Customer,23,Business travel,Eco,632,3,0,3,...,2,3,3,5,5,3,2.0,0.0,1.0,neutral or dissatisfied
122129,104401.0,Male,Loyal Customer,60,Business travel,Business,3545,5,4,5,...,4,4,4,4,4,3,3.0,3.0,0.0,satisfied
122140,114393.0,Female,Loyal Customer,44,Business travel,Business,3534,2,2,2,...,5,5,5,5,5,5,5.0,0.0,0.0,satisfied
122165,55896.0,Female,disloyal Customer,48,Business travel,Business,733,4,4,4,...,3,5,5,4,5,4,3.0,NaN,7.0,NaN

Verficación

In [1090]:
df_sucio['Inflight service'].isnull().sum()

np.int64(0)

In [1091]:
df_sucio['Inflight service'].unique()

array([5, 4, 3, 1, 2, 0])

In [1092]:
df_sucio['Inflight service'].value_counts()

Inflight service
4    34627
5    24701
3    22478
2    10386
1     6470
0        3
Name: count, dtype: int64

In [1093]:
df_sucio.columns

Index(['id', 'Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction'],
      dtype='object')

# **21. Columna Cleanliness**

In [1094]:
#Datos en la columna
df_sucio['Cleanliness'].unique()

array([ 5.,  1.,  2.,  3.,  4., nan,  0.])

In [1095]:
#Datos en la columna
df_sucio['Cleanliness'].value_counts()

Cleanliness
4.0    24831
3.0    22398
5.0    20647
2.0    14712
1.0    12148
0.0       10
Name: count, dtype: int64

In [1096]:
#Deteeción de valores nulos
df_sucio['Cleanliness'].isnull().sum()

np.int64(3919)

In [1097]:
#Correción de valores nulos cambiandolos por el promedio
df_sucio['Cleanliness'] = df_sucio['Cleanliness'].fillna(df_sucio['Cleanliness'].mean())

/tmp/ipython-input-1039820333.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Cleanliness'] = df_sucio['Cleanliness'].fillna(df_sucio['Cleanliness'].mean())

In [1098]:
#Conversión de datos a tipo int
df_sucio['Cleanliness']=df_sucio['Cleanliness'].astype(int)
df_sucio

/tmp/ipython-input-774376423.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Cleanliness']=df_sucio['Cleanliness'].astype(int)

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172.0,Male,Loyal Customer,13,Personal Travel,Sin Clase,460,3,4,3,...,5,4,3,4,4,5,5,25.0,18.0,neutral or dissatisfied
1,5047.0,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1,4,1,1.0,6.0,neutral or dissatisfied
2,110028.0,Female,Sin Cliente Especifico,26,Business travel,Business,1142,2,2,2,...,5,4,3,4,4,4,5,0.0,0.0,NaN
3,24026.0,Female,Loyal Customer,39,Business travel,Business,562,2,5,5,...,2,2,5,3,1,4,2,11.0,9.0,neutral or dissatisfied
4,119299.0,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4,4,3,3,3,0.0,bbb,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122096,15853.0,Female,Loyal Customer,39,Business travel,Business,2536,5,1,5,...,1,5,3,1,5,2,5,271.0,243.0,satisfied
122128,83437.0,Female,disloyal Customer,23,Business travel,Eco,632,3,0,3,...,2,3,3,5,5,3,2,0.0,1.0,neutral or dissatisfied
122129,104401.0,Male,Loyal Customer,60,Business travel,Business,3545,5,4,5,...,4,4,4,4,4,3,3,3.0,0.0,satisfied
122140,114393.0,Female,Loyal Customer,44,Business travel,Business,3534,2,2,2,...,5,5,5,5,5,5,5,0.0,0.0,satisfied
122165,55896.0,Female,disloyal Customer,48,Business travel,Business,733,4,4,4,...,3,5,5,4,5,4,3,NaN,7.0,NaN

Verficación

In [1099]:
df_sucio['Cleanliness'].isnull().sum()

np.int64(0)

In [1100]:
df_sucio['Cleanliness'].unique()

array([5, 1, 2, 3, 4, 0])

In [1101]:
df_sucio['Cleanliness'].value_counts()

Cleanliness
3    26317
4    24831
5    20647
2    14712
1    12148
0       10
Name: count, dtype: int64

In [1102]:
df_sucio.columns

Index(['id', 'Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction'],
      dtype='object')

# **22. Columna Departure Delay in Minutes**

In [1103]:
#Cantidad de datos en la columna
df_sucio['Departure Delay in Minutes'].value_counts()

Departure Delay in Minutes
0.0      53508
1.0       2676
2.0       2096
3.0       1819
4.0       1686
         ...
390.0        1
314.0        1
343.0        1
724.0        1
337.0        1
Name: count, Length: 440, dtype: int64

In [1104]:
#Deteeción de valores nulos
df_sucio['Departure Delay in Minutes'].isnull().sum()

np.int64(4001)

In [1105]:
#Correción de valores nulos cambiandolos por el promedio
df_sucio['Departure Delay in Minutes'] = df_sucio['Departure Delay in Minutes'].fillna(df_sucio['Departure Delay in Minutes'].mean())

/tmp/ipython-input-464995972.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Departure Delay in Minutes'] = df_sucio['Departure Delay in Minutes'].fillna(df_sucio['Departure Delay in Minutes'].mean())

In [1106]:
#Conversión de datos a tipo int
df_sucio['Departure Delay in Minutes']=df_sucio['Departure Delay in Minutes'].astype(int)
df_sucio

/tmp/ipython-input-1605878272.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Departure Delay in Minutes']=df_sucio['Departure Delay in Minutes'].astype(int)

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172.0,Male,Loyal Customer,13,Personal Travel,Sin Clase,460,3,4,3,...,5,4,3,4,4,5,5,25,18.0,neutral or dissatisfied
1,5047.0,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1,4,1,1,6.0,neutral or dissatisfied
2,110028.0,Female,Sin Cliente Especifico,26,Business travel,Business,1142,2,2,2,...,5,4,3,4,4,4,5,0,0.0,NaN
3,24026.0,Female,Loyal Customer,39,Business travel,Business,562,2,5,5,...,2,2,5,3,1,4,2,11,9.0,neutral or dissatisfied
4,119299.0,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4,4,3,3,3,0,bbb,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122096,15853.0,Female,Loyal Customer,39,Business travel,Business,2536,5,1,5,...,1,5,3,1,5,2,5,271,243.0,satisfied
122128,83437.0,Female,disloyal Customer,23,Business travel,Eco,632,3,0,3,...,2,3,3,5,5,3,2,0,1.0,neutral or dissatisfied
122129,104401.0,Male,Loyal Customer,60,Business travel,Business,3545,5,4,5,...,4,4,4,4,4,3,3,3,0.0,satisfied
122140,114393.0,Female,Loyal Customer,44,Business travel,Business,3534,2,2,2,...,5,5,5,5,5,5,5,0,0.0,satisfied
122165,55896.0,Female,disloyal Customer,48,Business travel,Business,733,4,4,4,...,3,5,5,4,5,4,3,14,7.0,NaN

Verficación

In [1107]:
df_sucio['Departure Delay in Minutes'].isnull().sum()

np.int64(0)

In [1108]:
df_sucio['Departure Delay in Minutes'].unique()

array([  25,    1,    0,   11,    9,    4,   28,   43,   49,    7,   17,
         52,   54,   27,   18,   19,    3,  109,   23,   14,    8,   10,
         51,   39,   13,   30,   64,   20,   45,   44,   31,   81,   35,
         67,   22,   40,   91,   21,   15,   29,  105,   12,  162,   24,
        141,    6,   34,    2,   97,   16,   99,   37,   66,   53,   36,
        209,   60,  149,   26,    5,   59,   62,  113,   38,   83,  176,
         46,   73,  199,   56,   93,   57,   95,   74,  172,   63,  143,
         47,  101,  118,   76,  220,   33,   55,  170,  173,  124,  112,
         94,  243,  128,   92,  270,   90,  110,   50,   71,  315,  158,
         88,   80,   65,  111,   32,  156,   41,  154,  150,  137,  126,
        161,   42,  174,  103,  313,  136,  160,  232,  412,   70,   69,
        185,  114,  135,  147,  235,  391,   84,  138,  102,   85,  196,
        140,   77,  187,  131,   48,  100,   86,  165,   87,   72,  129,
        204,  435,  177,  123,  139,  116,  108,  167,   61,  117,  106,
        190,  168,  211,   89,  324,   75,  202,  290,  189,  203,  120,
        157,   68,  142,  299,  292,  258,  104,  121,   58,  222,  317,
         78,  125,  320,  200,   79,  240,  169,   98,  249,  145,  238,
        246,  132,  107,  127,  180,   96,  151,  480,  241,  130,  268,
        144,  115,  133,  171,  164,  330,  438,  472,  163,  166,  122,
        134,  326,  186,   82,  155,  223,  332,  447,  208,  201,  233,
        210,  182,  221,  159,  188,  184,  224,  119,  248,  178,  266,
        191,  652,  226,  236,  148,  153,  276,  212,  152,  245,  726,
        198,  302,  283,  505,  242,  215,  394,  219,  206,  311,  293,
        566,  225,  146,  218,  227,  252,  291,  193,  323,  175,  281,
        339,  183,  259,  192,  319,  207,  195,  179,  194,  537,  181,
        257,  213,  300,  295,  262,  312,  383,  392,  294,  250,  419,
        216,  308,  423,  346,  272,  197,  205,  303,  251,  344,  333,
        355,  454,  459,  269,  254,  231,  253,  263,  381,  214,  310,
        244,  239,  228,  255,  328,  348,  278,  859,  692,  321,  465,
        426,  340,  274,  267,  519,  414,  559,  382,  237,  260,  401,
        247,  286,  376,  288,  271,  450,  287,  230,  217,  279,  264,
        448,  398,  750,  365,  351,  327,  341,  265,  306,  358,  514,
        334,  277,  275,  352,  301,  371,  437,  229,  600,  296,  460,
        338,  307,  234,  289,  452,  318,  256,  368,  626,  729,  362,
        360,  853,  446,  399,  396,  463,  364,  342,  372,  298,  273,
        427,  429,  373,  420,  579,  930, 1017,  370,  378,  595,  469,
        345,  410,  388,  748,  316,  336,  433,  455,  347,  444,  282,
        978,  322,  496,  389,  359,  415,  329,  353,  933,  402,  280,
        331, 1592,  501,  384,  377,  503,  400,  430,  570,  357,  350,
        297,  309,  531,  304,  363,  411,  390,  314,  343,  724,  337])

In [1109]:
df_sucio['Departure Delay in Minutes'].value_counts()

Departure Delay in Minutes
0      53508
14      4847
1       2676
2       2096
3       1819
       ...
390        1
314        1
343        1
724        1
337        1
Name: count, Length: 440, dtype: int64

# **23. Columna Arrival Delay in Minutes**

In [1110]:
#Datos en la columna
df_sucio['Arrival Delay in Minutes'].unique()

array(['18.0', '6.0', '0.0', '9.0', 'bbb', '23.0', '8.0', '35.0', '51.0',
       '10.0', '5.0', '4.0', '29.0', '44.0', '28.0', '12.0', '120.0',
       '24.0', '1.0', '20.0', '31.0', '15.0', '48.0', '26.0', nan, '49.0',
       '2.0', '37.0', '50.0', '3.0', '19.0', '72.0', '11.0', '34.0',
       '62.0', '27.0', '52.0', '13.0', '82.0', '16.0', '7.0', '122.0',
       '30.0', '125.0', '17.0', '89.0', '101.0', '14.0', '61.0', '32.0',
       '33.0', '41.0', '191.0', '138.0', '53.0', '57.0', '65.0', '76.0',
       '107.0', '92.0', '164.0', '22.0', '40.0', '55.0', '185.0', '63.0',
       '86.0', '91.0', '100.0', '36.0', '70.0', '139.0', '67.0', '163.0',
       '21.0', '128.0', '93.0', '121.0', '45.0', '126.0', '56.0', '73.0',
       '212.0', '88.0', '241.0', '172.0', '175.0', '111.0', '25.0',
       '42.0', '226.0', '46.0', '131.0', '260.0', '58.0', '75.0', '38.0',
       '66.0', '39.0', '307.0', '156.0', '74.0', '109.0', '77.0', '155.0',
       '60.0', '154.0', '43.0', '147.0', '124.0', '150.0', '116.0',
       '171.0', '105.0', '84.0', '165.0', '94.0', '83.0', '336.0', '59.0',
       '219.0', '87.0', '459.0', '54.0', '104.0', '133.0', '81.0',
       '259.0', '68.0', '222.0', '203.0', '47.0', '354.0', '80.0',
       '214.0', '78.0', '95.0', '71.0', '110.0', '85.0', '146.0', '196.0',
       '470.0', '149.0', '113.0', '119.0', '106.0', '115.0', '186.0',
       '211.0', '323.0', '69.0', '79.0', '176.0', '103.0', '167.0',
       '242.0', '284.0', '200.0', '145.0', '132.0', '313.0', '331.0',
       '288.0', '118.0', '134.0', '225.0', '64.0', '324.0', '190.0',
       '177.0', '136.0', '320.0', '201.0', '96.0', '141.0', '157.0',
       '153.0', '130.0', '112.0', '257.0', '117.0', '235.0', '140.0',
       '90.0', '181.0', '98.0', '142.0', '127.0', '471.0', '227.0',
       '102.0', '135.0', '192.0', '348.0', '438.0', '99.0', '446.0',
       '184.0', '129.0', '168.0', '166.0', '108.0', '310.0', '173.0',
       '261.0', '161.0', '152.0', '236.0', '151.0', '182.0', '321.0',
       '233.0', '123.0', '137.0', '433.0', '218.0', '148.0', '187.0',
       '180.0', '206.0', '144.0', '170.0', '209.0', '183.0', '174.0',
       '216.0', '114.0', '224.0', '281.0', '223.0', '638.0', '217.0',
       '179.0', '220.0', '160.0', '264.0', '234.0', '97.0', '265.0',
       '388.0', '262.0', '221.0', '162.0', '267.0', '374.0', '228.0',
       '244.0', '247.0', '691.0', '143.0', '189.0', '197.0', '204.0',
       '319.0', '329.0', '195.0', '486.0', '178.0', '270.0', '158.0',
       '199.0', '383.0', '213.0', '302.0', '600.0', '215.0', '169.0',
       '188.0', '266.0', '292.0', '287.0', '230.0', '239.0', '289.0',
       '298.0', '232.0', '363.0', '205.0', '295.0', '524.0', '246.0',
       '273.0', '290.0', '314.0', '316.0', '248.0', '386.0', '381.0',
       '159.0', '322.0', '460.0', '418.0', '349.0', '256.0', '249.0',
       '315.0', '208.0', '193.0', '371.0', '229.0', '391.0', '454.0',
       '445.0', '268.0', '253.0', '245.0', '337.0', '297.0', '436.0',
       '279.0', '300.0', '240.0', '237.0', '207.0', '198.0', '404.0',
       '243.0', '194.0', '341.0', '278.0', '305.0', '860.0', '258.0',
       '360.0', '493.0', '427.0', '335.0', '255.0', '410.0', '555.0',
       '392.0', '252.0', '202.0', '330.0', '382.0', '293.0', '277.0',
       '231.0', '272.0', '276.0', '304.0', '729.0', '357.0', '250.0',
       '458.0', '334.0', '291.0', '380.0', '359.0', '346.0', '624.0',
       '326.0', '210.0', '377.0', '283.0', '372.0', '429.0', '589.0',
       '301.0', '299.0', '457.0', '238.0', '401.0', '440.0', '286.0',
       '274.0', '311.0', '303.0', '604.0', '717.0', '356.0', '409.0',
       '823.0', '294.0', '251.0', '431.0', '432.0', '285.0', '403.0',
       '503.0', '338.0', '364.0', '407.0', '368.0', '308.0', '254.0',
       '435.0', '263.0', '417.0', '358.0', '416.0', '351.0', '952.0',
       '306.0', '424.0', '443.0', '317.0', '518.0', '350.0', '444.0',
       '312.0', '397.0', '593.0', '720.0', '366.0', '327.0', '455.0',
       '318.0', '269.0', '434.0', '970.0', '347.0', '309.0', '378.0',
       '296.0', '275.0', '379.0', '395.0', '370.0', '920.0', '389.0',
       '355.0', '342.0', '1584.0', '500.0', '402.0', '406.0', '484.0',
       '412.0', '567.0', '420.0', '362.0', '399.0', '345.0', '422.0',
       '485.0', '282.0', '507.0', '425.0', '271.0', '352.0', '385.0',
       '705.0', '369.0'], dtype=object)

In [1111]:
#Cantidad de datos en la columna
df_sucio['Arrival Delay in Minutes'].value_counts()

Arrival Delay in Minutes
0.0      52040
1.0       1997
bbb       1892
2.0       1854
3.0       1760
         ...
271.0        1
352.0        1
385.0        1
705.0        1
369.0        1
Name: count, Length: 444, dtype: int64

In [1112]:
#Deteeción de valores nulos
df_sucio['Arrival Delay in Minutes'].isnull().sum()

np.int64(4247)

In [1113]:
#Corrección de valores atípicos
df_sucio['Arrival Delay in Minutes'] = df_sucio['Arrival Delay in Minutes'].replace('bbb', '1')

/tmp/ipython-input-118553684.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Arrival Delay in Minutes'] = df_sucio['Arrival Delay in Minutes'].replace('bbb', '1')

In [1114]:
#Correción de valores nulos
df_sucio['Arrival Delay in Minutes'] = df_sucio['Arrival Delay in Minutes'].fillna('1')

/tmp/ipython-input-2029390985.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Arrival Delay in Minutes'] = df_sucio['Arrival Delay in Minutes'].fillna('1')

Desde el principio notamos que el tipo de dato en la columna es un object, por lo tanto, debemos convertir esos datos a tipo entero

In [1115]:
#Conversión de datos a tipo int
df_sucio['Arrival Delay in Minutes']=df_sucio['Arrival Delay in Minutes'].astype(float)
df_sucio['Arrival Delay in Minutes']=df_sucio['Arrival Delay in Minutes'].astype(int)
df_sucio

/tmp/ipython-input-2498487195.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Arrival Delay in Minutes']=df_sucio['Arrival Delay in Minutes'].astype(float)
/tmp/ipython-input-2498487195.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['Arrival Delay in Minutes']=df_sucio['Arrival Delay in Minutes'].astype(int)

,id,Gender,Customer Type,Age,Type of Travel,Class,Flight Distance,Inflight wifi service,Departure/Arrival time convenient,Ease of Online booking,...,Inflight entertainment,On-board service,Leg room service,Baggage handling,Checkin service,Inflight service,Cleanliness,Departure Delay in Minutes,Arrival Delay in Minutes,satisfaction
0,70172.0,Male,Loyal Customer,13,Personal Travel,Sin Clase,460,3,4,3,...,5,4,3,4,4,5,5,25,18,neutral or dissatisfied
1,5047.0,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1,4,1,1,6,neutral or dissatisfied
2,110028.0,Female,Sin Cliente Especifico,26,Business travel,Business,1142,2,2,2,...,5,4,3,4,4,4,5,0,0,NaN
3,24026.0,Female,Loyal Customer,39,Business travel,Business,562,2,5,5,...,2,2,5,3,1,4,2,11,9,neutral or dissatisfied
4,119299.0,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4,4,3,3,3,0,1,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122096,15853.0,Female,Loyal Customer,39,Business travel,Business,2536,5,1,5,...,1,5,3,1,5,2,5,271,243,satisfied
122128,83437.0,Female,disloyal Customer,23,Business travel,Eco,632,3,0,3,...,2,3,3,5,5,3,2,0,1,neutral or dissatisfied
122129,104401.0,Male,Loyal Customer,60,Business travel,Business,3545,5,4,5,...,4,4,4,4,4,3,3,3,0,satisfied
122140,114393.0,Female,Loyal Customer,44,Business travel,Business,3534,2,2,2,...,5,5,5,5,5,5,5,0,0,satisfied
122165,55896.0,Female,disloyal Customer,48,Business travel,Business,733,4,4,4,...,3,5,5,4,5,4,3,14,7,NaN

Verficación

In [1116]:
df_sucio['Arrival Delay in Minutes'].isnull().sum()

np.int64(0)

In [1117]:
df_sucio['Arrival Delay in Minutes'].unique()

array([  18,    6,    0,    9,    1,   23,    8,   35,   51,   10,    5,
          4,   29,   44,   28,   12,  120,   24,   20,   31,   15,   48,
         26,   49,    2,   37,   50,    3,   19,   72,   11,   34,   62,
         27,   52,   13,   82,   16,    7,  122,   30,  125,   17,   89,
        101,   14,   61,   32,   33,   41,  191,  138,   53,   57,   65,
         76,  107,   92,  164,   22,   40,   55,  185,   63,   86,   91,
        100,   36,   70,  139,   67,  163,   21,  128,   93,  121,   45,
        126,   56,   73,  212,   88,  241,  172,  175,  111,   25,   42,
        226,   46,  131,  260,   58,   75,   38,   66,   39,  307,  156,
         74,  109,   77,  155,   60,  154,   43,  147,  124,  150,  116,
        171,  105,   84,  165,   94,   83,  336,   59,  219,   87,  459,
         54,  104,  133,   81,  259,   68,  222,  203,   47,  354,   80,
        214,   78,   95,   71,  110,   85,  146,  196,  470,  149,  113,
        119,  106,  115,  186,  211,  323,   69,   79,  176,  103,  167,
        242,  284,  200,  145,  132,  313,  331,  288,  118,  134,  225,
         64,  324,  190,  177,  136,  320,  201,   96,  141,  157,  153,
        130,  112,  257,  117,  235,  140,   90,  181,   98,  142,  127,
        471,  227,  102,  135,  192,  348,  438,   99,  446,  184,  129,
        168,  166,  108,  310,  173,  261,  161,  152,  236,  151,  182,
        321,  233,  123,  137,  433,  218,  148,  187,  180,  206,  144,
        170,  209,  183,  174,  216,  114,  224,  281,  223,  638,  217,
        179,  220,  160,  264,  234,   97,  265,  388,  262,  221,  162,
        267,  374,  228,  244,  247,  691,  143,  189,  197,  204,  319,
        329,  195,  486,  178,  270,  158,  199,  383,  213,  302,  600,
        215,  169,  188,  266,  292,  287,  230,  239,  289,  298,  232,
        363,  205,  295,  524,  246,  273,  290,  314,  316,  248,  386,
        381,  159,  322,  460,  418,  349,  256,  249,  315,  208,  193,
        371,  229,  391,  454,  445,  268,  253,  245,  337,  297,  436,
        279,  300,  240,  237,  207,  198,  404,  243,  194,  341,  278,
        305,  860,  258,  360,  493,  427,  335,  255,  410,  555,  392,
        252,  202,  330,  382,  293,  277,  231,  272,  276,  304,  729,
        357,  250,  458,  334,  291,  380,  359,  346,  624,  326,  210,
        377,  283,  372,  429,  589,  301,  299,  457,  238,  401,  440,
        286,  274,  311,  303,  604,  717,  356,  409,  823,  294,  251,
        431,  432,  285,  403,  503,  338,  364,  407,  368,  308,  254,
        435,  263,  417,  358,  416,  351,  952,  306,  424,  443,  317,
        518,  350,  444,  312,  397,  593,  720,  366,  327,  455,  318,
        269,  434,  970,  347,  309,  378,  296,  275,  379,  395,  370,
        920,  389,  355,  342, 1584,  500,  402,  406,  484,  412,  567,
        420,  362,  399,  345,  422,  485,  282,  507,  425,  271,  352,
        385,  705,  369])

In [1118]:
df_sucio['Arrival Delay in Minutes'].value_counts()

Arrival Delay in Minutes
0      52040
1       8136
2       1854
3       1760
4       1699
       ...
271        1
352        1
385        1
705        1
369        1
Name: count, Length: 443, dtype: int64

In [1119]:
df_sucio.columns

Index(['id', 'Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction'],
      dtype='object')

# **24. Columna satisfaction**

In [1120]:
#Datos en la columna
df_sucio['satisfaction'].unique()

array(['neutral or dissatisfied', nan, 'satisfied', 'bbb'], dtype=object)

In [1121]:
#Cantidad de datos en la columna
df_sucio['satisfaction'].value_counts()

satisfaction
neutral or dissatisfied    52529
satisfied                  40263
bbb                         1888
Name: count, dtype: int64

In [1122]:
#Correción de datos
df_sucio['satisfaction'] = df_sucio['satisfaction'].replace('neutral or dissatisfied', 'dissatisfied')

/tmp/ipython-input-3786809346.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['satisfaction'] = df_sucio['satisfaction'].replace('neutral or dissatisfied', 'dissatisfied')

In [1123]:
#Correción de valores atípicos
df_sucio['satisfaction'] = df_sucio['satisfaction'].replace('bbb', 'neutral')

/tmp/ipython-input-3929596433.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['satisfaction'] = df_sucio['satisfaction'].replace('bbb', 'neutral')

In [1124]:
#Deteeción de valores nulos
df_sucio['satisfaction'].isnull().sum()

np.int64(3985)

In [1125]:
#Correción de valores nulos
df_sucio['satisfaction'] = df_sucio['satisfaction'].fillna('neutral')

/tmp/ipython-input-1226860260.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sucio['satisfaction'] = df_sucio['satisfaction'].fillna('neutral')

Verficación

In [1126]:
df_sucio['satisfaction'].isnull().sum()

np.int64(0)

In [1127]:
df_sucio['satisfaction'].unique()

array(['dissatisfied', 'neutral', 'satisfied'], dtype=object)

In [1128]:
df_sucio['satisfaction'].value_counts()

satisfaction
dissatisfied    52529
satisfied       40263
neutral          5873
Name: count, dtype: int64

# **Cambio de Nombre a las columnas**

In [1129]:
df_sucio.columns

Index(['id', 'Gender', 'Customer Type', 'Age', 'Type of Travel', 'Class',
       'Flight Distance', 'Inflight wifi service',
       'Departure/Arrival time convenient', 'Ease of Online booking',
       'Gate location', 'Food and drink', 'Online boarding', 'Seat comfort',
       'Inflight entertainment', 'On-board service', 'Leg room service',
       'Baggage handling', 'Checkin service', 'Inflight service',
       'Cleanliness', 'Departure Delay in Minutes', 'Arrival Delay in Minutes',
       'satisfaction'],
      dtype='object')

In [1130]:
# Cambiar nombres de columnas
df_sucio = df_sucio.rename(columns={
    'Gender': 'Genero',
    'Customer Type': 'Tipo de Cliente',
    'Age': 'Edad',
    'Type of Travel': 'Tipo de Viaje',
    'Class': 'Clase',
    'Flight Distance': 'Distancia de Vuelo',
    'Inflight wifi service': 'Servicio de Wifi',
    'Departure/Arrival time convenient': 'Tiempo de Llegada/Salida Conveniente',
    'Ease of Online booking': 'Facilidad de Reservacion en Linea',
    'Gate location': 'Ubicacion de Puerta',
    'Food and drink': 'Comida y Bebida',
    'Online boarding': 'Abordaje en Linea',
    'Seat comfort': 'Comodidad de Asiento',
    'Inflight entertainment': 'Entretenimiento en Vuelo',
    'On-board service': 'Servicio en Mesa',
    'Leg room service': 'Espacio del Asiento',
    'Baggage handling': 'Servicio de Equipaje',
    'Checkin service': 'Servicio de Checkin',
    'Inflight service': 'Servicio de Vuelo',
    'Cleanliness': 'Limpieza',
    'Departure Delay in Minutes': 'Retraso de Salida',
    'Arrival Delay in Minutes': 'Retraso de Llegada',
    'satisfaction': 'Satisfaccion'
})

df_sucio

,id,Genero,Tipo de Cliente,Edad,Tipo de Viaje,Clase,Distancia de Vuelo,Servicio de Wifi,Tiempo de Llegada/Salida Conveniente,Facilidad de Reservacion en Linea,...,Entretenimiento en Vuelo,Servicio en Mesa,Espacio del Asiento,Servicio de Equipaje,Servicio de Checkin,Servicio de Vuelo,Limpieza,Retraso de Salida,Retraso de Llegada,Satisfaccion
0,70172.0,Male,Loyal Customer,13,Personal Travel,Sin Clase,460,3,4,3,...,5,4,3,4,4,5,5,25,18,dissatisfied
1,5047.0,Male,disloyal Customer,25,Business travel,Business,235,3,2,3,...,1,1,5,3,1,4,1,1,6,dissatisfied
2,110028.0,Female,Sin Cliente Especifico,26,Business travel,Business,1142,2,2,2,...,5,4,3,4,4,4,5,0,0,neutral
3,24026.0,Female,Loyal Customer,39,Business travel,Business,562,2,5,5,...,2,2,5,3,1,4,2,11,9,dissatisfied
4,119299.0,Male,Loyal Customer,61,Business travel,Business,214,3,3,3,...,3,3,4,4,3,3,3,0,1,satisfied
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122096,15853.0,Female,Loyal Customer,39,Business travel,Business,2536,5,1,5,...,1,5,3,1,5,2,5,271,243,satisfied
122128,83437.0,Female,disloyal Customer,23,Business travel,Eco,632,3,0,3,...,2,3,3,5,5,3,2,0,1,dissatisfied
122129,104401.0,Male,Loyal Customer,60,Business travel,Business,3545,5,4,5,...,4,4,4,4,4,3,3,3,0,satisfied
122140,114393.0,Female,Loyal Customer,44,Business travel,Business,3534,2,2,2,...,5,5,5,5,5,5,5,0,0,satisfied
122165,55896.0,Female,disloyal Customer,48,Business travel,Business,733,4,4,4,...,3,5,5,4,5,4,3,14,7,neutral

# **Traducción para algunos datos**

In [1136]:
#Columna Genero
df_sucio['Genero'] = df_sucio['Genero'].replace({
    'Female': 'Femenino',
    'Male': 'Masculino'
})

#Columna Tipo de Cliebre
df_sucio['Tipo de Cliente'] = df_sucio['Tipo de Cliente'].replace({
    'Loyal Customer': 'Cliente Leal',
    'disloyal Customer': 'Cliente Desleal'
})

#Columna Tipo de Viaje
df_sucio['Tipo de Viaje'] = df_sucio['Tipo de Viaje'].replace({
    'Business travel': 'Viaje de Negocios',
    'Personal Travel': 'Viaje Personal'
})

#Columna Clase
df_sucio['Clase'] = df_sucio['Clase'].replace({
    'Business': 'Ejecutiva',
    'Eco': 'Económica',
    'Eco Plus': 'Económica Plus'
})

#Columna Satisfaccion
df_sucio['Satisfaccion'] = df_sucio['Satisfaccion'].replace({
    'satisfied': 'Satisfecho',
    'dissatisfied': 'Insatisfecho'
})

df_sucio

,id,Genero,Tipo de Cliente,Edad,Tipo de Viaje,Clase,Distancia de Vuelo,Servicio de Wifi,Tiempo de Llegada/Salida Conveniente,Facilidad de Reservacion en Linea,...,Entretenimiento en Vuelo,Servicio en Mesa,Espacio del Asiento,Servicio de Equipaje,Servicio de Checkin,Servicio de Vuelo,Limpieza,Retraso de Salida,Retraso de Llegada,Satisfaccion
0,70172.0,Masculino,Cliente Leal,13,Viaje Personal,Sin Clase,460,3,4,3,...,5,4,3,4,4,5,5,25,18,Insatisfecho
1,5047.0,Masculino,Cliente Desleal,25,Viaje de Negocios,Ejecutiva,235,3,2,3,...,1,1,5,3,1,4,1,1,6,Insatisfecho
2,110028.0,Femenino,Sin Cliente Especifico,26,Viaje de Negocios,Ejecutiva,1142,2,2,2,...,5,4,3,4,4,4,5,0,0,neutral
3,24026.0,Femenino,Cliente Leal,39,Viaje de Negocios,Ejecutiva,562,2,5,5,...,2,2,5,3,1,4,2,11,9,Insatisfecho
4,119299.0,Masculino,Cliente Leal,61,Viaje de Negocios,Ejecutiva,214,3,3,3,...,3,3,4,4,3,3,3,0,1,Satisfecho
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122096,15853.0,Femenino,Cliente Leal,39,Viaje de Negocios,Ejecutiva,2536,5,1,5,...,1,5,3,1,5,2,5,271,243,Satisfecho
122128,83437.0,Femenino,Cliente Desleal,23,Viaje de Negocios,Económica,632,3,0,3,...,2,3,3,5,5,3,2,0,1,Insatisfecho
122129,104401.0,Masculino,Cliente Leal,60,Viaje de Negocios,Ejecutiva,3545,5,4,5,...,4,4,4,4,4,3,3,3,0,Satisfecho
122140,114393.0,Femenino,Cliente Leal,44,Viaje de Negocios,Ejecutiva,3534,2,2,2,...,5,5,5,5,5,5,5,0,0,Satisfecho
122165,55896.0,Femenino,Cliente Desleal,48,Viaje de Negocios,Ejecutiva,733,4,4,4,...,3,5,5,4,5,4,3,14,7,neutral

**Pasamos todo a un df limpio**

In [1142]:
df_limpio = df_sucio.copy()
df_limpio

,id,Genero,Tipo de Cliente,Edad,Tipo de Viaje,Clase,Distancia de Vuelo,Servicio de Wifi,Tiempo de Llegada/Salida Conveniente,Facilidad de Reservacion en Linea,...,Entretenimiento en Vuelo,Servicio en Mesa,Espacio del Asiento,Servicio de Equipaje,Servicio de Checkin,Servicio de Vuelo,Limpieza,Retraso de Salida,Retraso de Llegada,Satisfaccion
0,70172.0,Masculino,Cliente Leal,13,Viaje Personal,Sin Clase,460,3,4,3,...,5,4,3,4,4,5,5,25,18,Insatisfecho
1,5047.0,Masculino,Cliente Desleal,25,Viaje de Negocios,Ejecutiva,235,3,2,3,...,1,1,5,3,1,4,1,1,6,Insatisfecho
2,110028.0,Femenino,Sin Cliente Especifico,26,Viaje de Negocios,Ejecutiva,1142,2,2,2,...,5,4,3,4,4,4,5,0,0,neutral
3,24026.0,Femenino,Cliente Leal,39,Viaje de Negocios,Ejecutiva,562,2,5,5,...,2,2,5,3,1,4,2,11,9,Insatisfecho
4,119299.0,Masculino,Cliente Leal,61,Viaje de Negocios,Ejecutiva,214,3,3,3,...,3,3,4,4,3,3,3,0,1,Satisfecho
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
122096,15853.0,Femenino,Cliente Leal,39,Viaje de Negocios,Ejecutiva,2536,5,1,5,...,1,5,3,1,5,2,5,271,243,Satisfecho
122128,83437.0,Femenino,Cliente Desleal,23,Viaje de Negocios,Económica,632,3,0,3,...,2,3,3,5,5,3,2,0,1,Insatisfecho
122129,104401.0,Masculino,Cliente Leal,60,Viaje de Negocios,Ejecutiva,3545,5,4,5,...,4,4,4,4,4,3,3,3,0,Satisfecho
122140,114393.0,Femenino,Cliente Leal,44,Viaje de Negocios,Ejecutiva,3534,2,2,2,...,5,5,5,5,5,5,5,0,0,Satisfecho
122165,55896.0,Femenino,Cliente Desleal,48,Viaje de Negocios,Ejecutiva,733,4,4,4,...,3,5,5,4,5,4,3,14,7,neutral

# ***Verificación de Limpieza para toda la base de datos***

Una vez terminada la limpieza se rectifica que la información se encuentre de manera adecuada, sin distorsiones o con algun valor que se pudo omitir durante el proceso, verificando valores nulos, valores duplicados, tipo de datos, y traducciones

In [1143]:
#Verificación del tipo de dato en cada columna
df_limpio.dtypes

id                                      object
Genero                                  object
Tipo de Cliente                         object
Edad                                     int64
Tipo de Viaje                           object
Clase                                   object
Distancia de Vuelo                       int64
Servicio de Wifi                         int64
Tiempo de Llegada/Salida Conveniente     int64
Facilidad de Reservacion en Linea        int64
Ubicacion de Puerta                      int64
Comida y Bebida                          int64
Abordaje en Linea                        int64
Comodidad de Asiento                     int64
Entretenimiento en Vuelo                 int64
Servicio en Mesa                         int64
Espacio del Asiento                      int64
Servicio de Equipaje                     int64
Servicio de Checkin                      int64
Servicio de Vuelo                        int64
Limpieza                                 int64
Retraso de Salida                        int64
Retraso de Llegada                       int64
Satisfaccion                            object
dtype: object

In [1144]:
df_limpio.info()

<class 'pandas.core.frame.DataFrame'>
Index: 98665 entries, 0 to 122165
Data columns (total 24 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   id                                    98665 non-null  object
 1   Genero                                98665 non-null  object
 2   Tipo de Cliente                       98665 non-null  object
 3   Edad                                  98665 non-null  int64
 4   Tipo de Viaje                         98665 non-null  object
 5   Clase                                 98665 non-null  object
 6   Distancia de Vuelo                    98665 non-null  int64
 7   Servicio de Wifi                      98665 non-null  int64
 8   Tiempo de Llegada/Salida Conveniente  98665 non-null  int64
 9   Facilidad de Reservacion en Linea     98665 non-null  int64
 10  Ubicacion de Puerta                   98665 non-null  int64
 11  Comida y Bebida                       98665 non-null  int64
 12  Abordaje en Linea                     98665 non-null  int64
 13  Comodidad de Asiento                  98665 non-null  int64
 14  Entretenimiento en Vuelo              98665 non-null  int64
 15  Servicio en Mesa                      98665 non-null  int64
 16  Espacio del Asiento                   98665 non-null  int64
 17  Servicio de Equipaje                  98665 non-null  int64
 18  Servicio de Checkin                   98665 non-null  int64
 19  Servicio de Vuelo                     98665 non-null  int64
 20  Limpieza                              98665 non-null  int64
 21  Retraso de Salida                     98665 non-null  int64
 22  Retraso de Llegada                    98665 non-null  int64
 23  Satisfaccion                          98665 non-null  object
dtypes: int64(18), object(6)
memory usage: 18.8+ MB

In [1145]:
#Verificacion de valores nulos
df_limpio.isnull().sum()

id                                      0
Genero                                  0
Tipo de Cliente                         0
Edad                                    0
Tipo de Viaje                           0
Clase                                   0
Distancia de Vuelo                      0
Servicio de Wifi                        0
Tiempo de Llegada/Salida Conveniente    0
Facilidad de Reservacion en Linea       0
Ubicacion de Puerta                     0
Comida y Bebida                         0
Abordaje en Linea                       0
Comodidad de Asiento                    0
Entretenimiento en Vuelo                0
Servicio en Mesa                        0
Espacio del Asiento                     0
Servicio de Equipaje                    0
Servicio de Checkin                     0
Servicio de Vuelo                       0
Limpieza                                0
Retraso de Salida                       0
Retraso de Llegada                      0
Satisfaccion                            0
dtype: int64

In [1148]:
#Verificación de datos atípicos con un ciclo for
#Ciclo for para detectar valores atípicos (por ejemplo texto)
lista_col=df_limpio.columns
for i in lista_col:
    print(f"En la columna {i} los bbb son: {df_sucio[df_sucio[i] == 'bbb'].shape[0]}")

En la columna id los bbb son: 0
En la columna Genero los bbb son: 0
En la columna Tipo de Cliente los bbb son: 0
En la columna Edad los bbb son: 0
En la columna Tipo de Viaje los bbb son: 0
En la columna Clase los bbb son: 0
En la columna Distancia de Vuelo los bbb son: 0
En la columna Servicio de Wifi los bbb son: 0
En la columna Tiempo de Llegada/Salida Conveniente los bbb son: 0
En la columna Facilidad de Reservacion en Linea los bbb son: 0
En la columna Ubicacion de Puerta los bbb son: 0
En la columna Comida y Bebida los bbb son: 0
En la columna Abordaje en Linea los bbb son: 0
En la columna Comodidad de Asiento los bbb son: 0
En la columna Entretenimiento en Vuelo los bbb son: 0
En la columna Servicio en Mesa los bbb son: 0
En la columna Espacio del Asiento los bbb son: 0
En la columna Servicio de Equipaje los bbb son: 0
En la columna Servicio de Checkin los bbb son: 0
En la columna Servicio de Vuelo los bbb son: 0
En la columna Limpieza los bbb son: 0
En la columna Retraso de Salida los bbb son: 0
En la columna Retraso de Llegada los bbb son: 0
En la columna Satisfaccion los bbb son: 0

In [1146]:
#Verificación de duplicados
df_limpio.duplicated().sum()

np.int64(0)

In [1147]:
#Guardar la base de datos en un archivo csv
df_limpio.to_csv('df_limpio.csv', index=False)